<!DOCTYPE html>
<html>
<head>
    <title>公司简介-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=5x1ICl2eFYmGQXUloVS66hLlSB2BugLM"></script>
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512094918231823.jpg) center center no-repeat;  height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="aboutus.html">公司简介</a></li>
                    <li class=""><a href="zizhizhengshu.html">资质证书</a></li>
                    <li class=""><a href="joinus.html">加入我们</a></li>
                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img src="./aboutus_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img src="./aboutus_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                        href="aboutus.html">关于我们</a> &gt;&gt;<a
                        href="aboutus.html">公司简介</a>
                    </span>-->
                    公司简介 <i>Company profile</i>
                </div>
                <div class="box">
                    <p class="MsoNormal">
                        武汉问鼎机电工程有限公司创立于2007年，是湖北地区一家集暖通空调设备销售、专业安装和售后服务为一体的专业技术型企业。
                    </p><br>
                    <p class="MsoNormal">
                        主要业务包括：用于工业、商业建筑的空调系统，包括空调设备销售安装及系统集成，小型商用、家用中央空调，采暖和生活热水智能系统、以及家庭新风系统的销售安装，上述产品及系统的售后服务。
                    </p><br>
                    <p class="MsoNormal">
                        我们秉承世界级合作品牌的先进技术和产品质量坚持诚信为本的企业精神，专注于人居环境工程领域，联袂日本大金等世界知名品牌，为广大家庭和企业客户提供专业的暖通解决方案。
                    </p><br>
                    <p class="MsoNormal">We are Doing for health life！为更舒适、更环保的生活空间而努力！</p><br>
                    <p class="MsoNormal">公司地址：武汉市古田二路汇丰企业总部3-B602-2室</p><br>
                    <p class="MsoNormal">门店地址：汉阳江城大道绿地中央广场一层18-19号</p><br>

                    <div id="dituzb" style="display:none">114.223577,30.521981</div>
                    <!--百度地图容器-->
                    <div id="dituContent" style="height: 450px; ">
                    </div>

                    <script type="text/javascript">

                        var dituzb = document.getElementById('dituzb').innerHTML;
                        var arrditu = dituzb.split(",");
                        var ditu1 = arrditu[0];
                        var ditu2 = arrditu[1];

                        //创建和初始化地图函数：
                        function initMap() {
                            createMap();//创建地图
                            setMapEvent();//设置地图事件
                            addMapControl();//向地图添加控件
                            addMarker();//向地图中添加marker
                        }

                        //创建地图函数：
                        function createMap() {
                            var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                            var point = new BMap.Point(ditu1, ditu2);//定义一个中心点坐标
                            map.centerAndZoom(point, 15);//设定地图的中心点和坐标并将地图显示在地图容器中
                            window.map = map;//将map变量存储在全局
                        }

                        //地图事件设置函数：
                        function setMapEvent() {
                            map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                            map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                            map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                            map.enableKeyboard();//启用键盘上下左右键移动地图
                        }

                        //地图控件添加函数：
                        function addMapControl() {
                            //向地图中添加缩放控件
                            var ctrl_nav = new BMap.NavigationControl({
                                anchor: BMAP_ANCHOR_TOP_LEFT,
                                type: BMAP_NAVIGATION_CONTROL_LARGE
                            });
                            map.addControl(ctrl_nav);
                            //向地图中添加缩略图控件
                            var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
                            map.addControl(ctrl_ove);
                            //向地图中添加比例尺控件
                            var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
                            map.addControl(ctrl_sca);
                        }

                        //标注点数组
                        var markerArr = [{
                            title: "门店地址：汉阳江城大道绿地中央广场一层18-19号",
                            content: "",
                            point: ditu1 + "|" + ditu2,
                            isOpen: 1,
                            icon: {w: 23, h: 25, l: 46, t: 21, x: 9, lb: 12}
                        }
                        ];
                        //创建marker
                        function addMarker() {
                            for (var i = 0; i < markerArr.length; i++) {
                                var json = markerArr[i];
                                var p0 = json.point.split("|")[0];
                                var p1 = json.point.split("|")[1];
                                var point = new BMap.Point(p0, p1);
                                var iconImg = createIcon(json.icon);
                                var marker = new BMap.Marker(point, {icon: iconImg});
                                var iw = createInfoWindow(i);
                                var label = new BMap.Label(json.title, {"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)});
                                marker.setLabel(label);
                                map.addOverlay(marker);
                                label.setStyle({
                                    borderColor: "#808080",
                                    color: "#333",
                                    cursor: "pointer"
                                });

                                (function () {
                                    var index = i;
                                    var _iw = createInfoWindow(i);
                                    var _marker = marker;
                                    _marker.addEventListener("click", function () {
                                        this.openInfoWindow(_iw);
                                    });
                                    _iw.addEventListener("open", function () {
                                        _marker.getLabel().hide();
                                    })
                                    _iw.addEventListener("close", function () {
                                        _marker.getLabel().show();
                                    })
                                    label.addEventListener("click", function () {
                                        _marker.openInfoWindow(_iw);
                                    })
                                    if (!!json.isOpen) {
                                        label.hide();
                                        _marker.openInfoWindow(_iw);
                                    }
                                })()
                            }
                        }
                        //创建InfoWindow
                        function createInfoWindow(i) {
                            var json = markerArr[i];
                            var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
                            return iw;
                        }
                        //创建一个Icon
                        function createIcon(json) {
                            var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
                                imageOffset: new BMap.Size(-json.l, -json.t),
                                infoWindowOffset: new BMap.Size(json.lb + 5, 1),
                                offset: new BMap.Size(json.x, json.h)
                            })
                            return icon;
                        }

                        initMap();//创建和初始化地图
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>

</body>
</html>