<!DOCTYPE html>
<html>
<head>
    <title>武汉大金空调设计安装｜武汉大金空调免费报价｜武汉大金空调专卖店售后维修服务电话_问鼎机电</title>
    <meta name="keywords" content="大金空调怎么样,武汉大金空调价格,武汉大金空调专卖店经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四价格,武汉大金空调售后维修电话,大金空调故障代码，家用中央空调,中央空调什么牌子好">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <style>
        .cpfl li {
            padding-left: 70px;
            padding-right: 60px;
        }

        .index-contact {
            width: 36% !important;
            margin-left: 50px;
        }

        .index-news {
            width: 58% !important;
        }
    </style>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>
    <!--轮播图-->
    <div class="banner">
        <div class="main">
            <div class="pro-switch">
                <div class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li class="clone"><div class="img"><a href="article/251.html"><div style="background:url(UpFiles/include/file/20170413/2017083001.jpg) center center no-repeat; height:450px;"></div></a></div>
                            </li>
                            <li class="">
                                <div class="img"><a href="article/245.html"><div style="background:url(UpFiles/include/file/20170413/2017080601.jpg) center center no-repeat; height:450px;"></div></a></div>
                            </li>
                            <li class="">
                                <div class="img"><a href="article/244.html"><div style="background:url(UpFiles/include/file/20170413/2017080401.jpg) center center no-repeat; height:450px;"></div></a></div>
                            </li>
                            <li class="">
                                <div class="img"><a href="article/237.html"><div style="background:url(UpFiles/include/file/20170413/20170413115157765776.jpg) center center no-repeat; height:450px;"></div></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="cpfl">
        <ul>
            <li><a href="product_jiayongzhongyangkongtiao.html"><img src="/index_files/20150618105170147014.png"></a></li>
            <li><a href="product_duogongnengVRV.html"><img src="/index_files/20150618105278347834.png"></a></li>
            <li><a href="product_shangyong.html"><img src="/index_files/20150618105286788678.png"></a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div class="index-content">
        <!--新闻资讯-->
        <div class="index-news">
            <a href="hangyezixun.html"><h1>新闻资讯<i><span>News</span></i><b><img src="/index_files/more.png"></b></h1>
            </a>
            <div>
                <ul>
                    <li><a href="article/258.html">大金空调推出新款空调“小鑫”：可0.5度调温<span>09/07</span></a>
                    <li><a href="article/256.html">大金空调第11届内装设计大赛启动仪式隆重开幕——福州站<span>09/04</span></a>
                    <li><a href="article/252.html">大金资讯：以人为轴心 大金空调做有担当的全球化企业<span>09/01</span></a>
                    <li><a href="article/251.html">家用中央空调的4S店：大金空调Proshop的成功不可复制<span>08/31</span></a>
                    <li><a href="article/250.html">大金第11届内装设计大赛启动仪式浙江站成功举办<span>08/28</span></a>
                    <li><a href="article/248.html">大金空调打造卫浴“三度空间”: 给你诗意，不要湿意！<span>08/18</span></a>
                </ul>
            </div>
        </div>
        <!--服务中心-->
        <div class="index-contact">
            <a href="contactus.html"><h1>服务中心<i><span>Contact us</span></i></h1></a>
            <div>
                <ul>
                    <li>15972077912 13659828057</li>
                    <li>售后电话：400-820-1081 / 027-83607655</li>
                    <li>服务邮箱：daikin_wh@qq.com</li>
                    <li>汉阳展厅：武汉汉阳江城大道绿地中央广场1层18-19号</li>
                    <li>设计中心：武汉硚口区古田二路汇丰企业总部6楼</li>
                    <li>关注我们：<a id="weixin" href="javascript:;"><img src="/index_files/tb-2.jpg"></a>
                        <div id="wx" style="display:none; position:absolute;top: 180px;left: 130px; border-top:none;"><img src="/index_files/weixin.jpg" width="125" height="125"></div>
                        <a href="http://weibo.cn/wuhandaikin"><img src="/index_files/tb-1.jpg"></a></li>
                </ul>
            </div>
        </div>
        <!--图片展示-->
        <div class="index-case">
            <div>
                <ul>
                    <li><a href="project.html"><img src="/index_files/project_index.jpg"></a></li>
                    <li><a href="freeoffer.html"><img src="/index_files/design_index.jpg"></a></li>
                    <li><a href="article/244.html"><img src="/index_files/trouble_index.jpg"></a></li>
                    <li class="last"><a href="aboutus.html"><img src="/index_files/aboutme_index.jpg"></a></li>
                </ul>
            </div>
        </div>
        <!--空调知识-->
        <div class="index-news">
            <a href="hangyezixun.html"><h1>空调知识<i><span>Knowledge</span></i><b><img src="/index_files/more.png"></b></h1></a>
            <div>
                <ul>
                    <li><a href="article/257.html">大金家用中央空调人性化设计有哪些？<span>09/05</span></a></li>
                    <li><a href="article/255.html">大金中央空调安装施工过程中需要注意的六点<span>09/04</span></a></li>
                    <li><a href="article/253.html">家用中央空调清洗保养需要遵循的四大步骤<span>09/03</span></a></li>
                    <li><a href="article/249.html">大金家用中央空调选购注意事项（如何选购大金家用中央空调）？<span>08/29</span></a></li>
                    <li><a href="article/245.html">五大纬度告诉你家庭装修中央空调和普通空调到底哪个好<span>08/06</span></a></li>
                    <li><a href="article/242.html">装修季迫近大预告！大金带你了解家用中央空调小奥秘！<span>04/26</span></a></li>
                    <li><a href="article/236.html">大金家用中央空调省电小窍门<span>02/15</span></a></li>
                </ul>
            </div>
        </div>
        <!--友情链接-->
        <div class="index-contact">
            <a href="javascript:void(0);"><h1>友情链接<i><span>Link</span></i></h1></a>
            <ol id="friend-link">
                <li><a href="http://www.yorkchina.net/">武汉约克空调</a></li>
                <li><a href="http://www.wuhanmidea.com/">武汉美的空调</a></li>
                <li><a href="http://www.whwedoing.com/">武汉问鼎机电</a></li>
                <li><a href="http://www.daikin-china.com.cn">大金空调官网</a></li>
                <li><a href="https://mall.midea.com/">美的空调官网</a></li>
                <li><a href="http://www.blauberg.cn">博乐新风官网</a></li>
            </ol>
        </div>
    </div>
    <%- include component/footer.ejs %>
</div>
<script src="/index_files/slider.js"></script>
<script>
    $(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });

        var oWx = document.getElementById("weixin");
        var oRwm = document.getElementById("wx");

        oWx.onmouseover = function () {
            oRwm.style.display = "block";
        };
        oWx.onmouseout = function () {
            oRwm.style.display = "none";
        }
    });
</script>

</body >
</html >