<!DOCTYPE html>
<html>
<head>
    <title> 加入我们-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512094918231823.jpg) center center no-repeat;  height:220px;"></div>
        </div>

    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="aboutus.html">公司简介</a></li>
                    <li class=""><a href="zizhizhengshu.html">资质证书</a></li>
                    <li class="current"><a href="joinus.html">加入我们</a></li>

                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img
                    src="./joinus_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img
                    src="./joinus_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                        href="aboutus.html">关于我们</a> &gt;&gt;<a
                        href="joinus.html">加入我们</a></span>-->
                    加入我们 <i>Join us</i></div>
                <div class="box">
                    <div style="text-align:left;">
                        <img src="./joinus_files/20150627164584138413.jpg"  style="line-height:1.5;"><br>
                        <br>
                        <p style="color:#337FE5;font-weight: bold;">周一至周五上午9点--下午5点公司可以进行面试，欢迎咨询和预约面试。 <br>
                            联系电话：027-84669689 &nbsp; &nbsp;&nbsp;简历投递邮箱：daikin_wh@qq.com</p>
                        <br>
                        <h3>业务代表</h3>
                        <p>职位要求:</p>
                        <p> 1. 年龄22岁以上，中专及以上学历；&nbsp;</p>
                        <p> 2.&nbsp;一年以上销售相关经验；同时也欢迎优秀应届毕业生加入</p>
                        <p> 3. 热爱销售工作，具备良好的沟通技巧及谈判能力</p>
                        <p> 4. 有同行业经验者优先考虑，待遇从优！</p>
                        <p>客户群体：高档小区、别墅群体、商用空间</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>
</body>
</html>