<!DOCTYPE html>
<html>
<head>
    <title> 空调杂谈知识-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>
    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img src="./kongtiaozhishi_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img src="./kongtiaozhishi_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                    href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                空调杂谈知识 <i>News</i></div>
            <div class="box">
                <div class="listnews">
                    <ul>
 
<li><a href="article/257.html">大金家用中央空调人性化设计有哪些？<span>2017/09/05</span></a></li>
 
<li><a href="article/255.html">大金中央空调安装施工过程中需要注意的六点<span>2017/09/04</span></a></li>
 
<li><a href="article/253.html">家用中央空调清洗保养需要遵循的四大步骤<span>2017/09/03</span></a></li>
     
<li><a href="article/249.html">大金家用中央空调选购注意事项（如何选购大金家用中央空调）？<span>2017/08/28</span></a></li>
                      
<li><a href="article/245.html">五大纬度告诉你家庭装修中央空调和普通空调到底哪个好<span>2017/08/06</span></a></li>
 
<li><a href="article/242.html">装修季迫近大预告！大金带你了解家用中央空调小奥秘！<span>2017/04/26</span></a></li>
                        <li><a href="article/241.html">大金中央空调怎么使用更节能环保？<span>2017/04/14</span></a></li>
                        <li><a href="article/239.html">为啥大金中央空调总比别家卖的好？<span>2017/02/24</span></a></li>
                        <li><a href="article/236.html">大金家用中央空调省电小窍门<span>2017/02/15</span></a></li>
                        <li><a href="article/235.html">大金家用中央空调的选购常识<span>2017/02/15</span></a></li>
                        <li><a href="article/234.html">大金家用中央空调--十大有用常识<span>2017/02/15</span></a></li>
                        <li><a href="article/231.html">大金中央空调之 — 会排污的大金<span>2016/10/31</span></a></li>
                        <div class="skpage">共 7 篇 页次:<font color="red"> 1</font>/1页 20 篇/页 首页 上一页 下一页 尾页
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>
</body>
</html>