<!DOCTYPE html>
<html>
<head>
    <title> 新闻资讯-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img src="./newsActivity_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img src="./newsActivity_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="hangyezixun.html">新闻资讯</a> &gt;&gt;</span>-->
                新闻资讯 <i>News</i></div>
            <div class="box">
                <div class="listnews">
                    <ul>
                        <li>
                            <a href="article/232.html">大金空调荣获“全国质量信得过产品”、“全国质量诚信标杆典型企业”、“全国空调行业<span>2017/02/14</span></a>
                        </li>
                        <li><a href="article/226.html">秉承初心 匠心耕耘 —— 大金空调斩获“2016年度中央空调领军品牌”<span>2017/01/02</span></a>
                        </li>
                        <li><a href="article/216.html">怎样选购家庭中央空调？ 大金家用中央空调给你多项选择！<span>2016/12/05</span></a>
                        </li>
                        <li><a href="article/210.html">感恩四季·为爱而生，大金全效家用中央空调-温湿平衡3D气流超薄风管式<span>2016/10/31</span></a>
                        </li>
                        <li>
                            <a href="article/190.html">湖北问鼎带你了解大金家用中央空调<span>2016/08/22</span></a>
                        </li>
                        <li><a href="article/139.html">选择家用中央空调要注意的要点<span>2016/04/09</span></a>
                        </li>
                        <li><a href="article/106.html"><font
                                color="red">再见919活动通知，给你本年度最大优惠</font><span>2015/11/18</span></a></li>
                        <li><a href="article/84.html">展厅见活动问与答<span>2015/09/16</span></a></li>

                        <div class="skpage">共 8 篇 页次:<font color="red"> 1</font>/11页 20 篇/页 首页 上一页 下一页 尾页</div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>
</body>
</html>