<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> 家用分体空调-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <link rel="stylesheet" href="/libs/layer/skin/default/layer.css">
    <link rel="stylesheet" href="/style/css/product.css">
    <%- include component/meta.ejs %>
    <script src="/libs/layer/layer.js"></script>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512110643524352.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div id="fold">
                <div class="model close" >
                    <div class="panel-title">全效家用中央空调</div>
                    <div class="dh">
                        <ul>
                            <li class=""><a href="product_jiayongzhongyangkongtiao.html">住宅用N系列</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="model open">
                    <div class="panel-title">经典系列</div>
                    <div class="dh">
                        <ul>
                            <li class="current"><a href="product_duogongnengVRV.html">LMX系列</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="img"><a href="freeoffer.html"><img src="./product_duogongnengVRV_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img src="./product_duogongnengVRV_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="product.html">产品中心</a> &gt;&gt;<a
                    href="product_duogongnengVRV.html">家用分体空调</a></span>-->
                LMX系列 <i>Domestic air conditioning</i></div>
            <div class="box">
                <div class="goods">
                    <dl>
                        <dt>
                            <img src="./product_2img/aqswbd62eddv8ppw653xjzbpb2usbkst.png" width="160px" height="110px">
                        </dt>
                        <dd>
                            <h3>3D气流风管式</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">3D气流风管式</div><table><colgroup><col><col><col span="6"></colgroup><tbody><tr><td colspan="2">型号</td><td>CDXALS22AB</td><td>CDXALS28AB</td><td>CDXALS36AB</td><td>CDXALS45AB</td><td>CDXALS56AB</td><td>CDXALS71AB</td></tr><tr><td colspan="2">电源</td><td colspan="6"><span>单相</span><span> 220V50Hz</span></td></tr><tr><td>制冷容量</td><td>kW</td><td>2.2</td><td>2.8</td><td>3.6</td><td>4.5</td><td>5.6</td><td>7.1</td></tr><tr><td>制热容量</td><td>kW</td><td>2.5</td><td>3.2</td><td>4</td><td>5</td><td>6.3</td><td>8</td></tr><tr><td>尺寸 ( H×W×D )</td><td>mm</td><td colspan="4">200×700×450</td><td>200×900×450</td><td>200×1100×450</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt>
                            <img src="./product_2img/6s8u8my7ecbqkg6297s9vdv3e7btdbu5.png" width="160px" height="110px"></dt>
                        <dd>
                            <h3>超薄风管式</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">超薄风管式</div><table><colgroup><col span="8"></colgroup><tbody><tr style="height:29.25pt;font-style:inherit;font-variant:inherit;
font-weight:inherit;font-stretch: inherit;line-height:inherit"><td colspan="2">型号</td><td>CDXLS22FV2C</td><td>CDXLS28FV2C</td><td>CDXLS36FV2C</td><td>CDXLS45FV2C</td><td>CDXLS56FV2C</td><td>CDXLS71FV2C</td></tr><tr style="height:15.0pt;font-style:inherit;font-variant:inherit;
font-weight:inherit;font-stretch: inherit;line-height:inherit"><td colspan="2">电源</td><td colspan="6"><span>单相</span><span>220V 50Hz</span></td></tr><tr style="height:15.0pt;font-style:inherit;font-variant:inherit;
font-weight:inherit;font-stretch: inherit;line-height:inherit"><td>制冷容量</td><td>kw</td><td>2.2</td><td>2.8</td><td>3.6</td><td>4.5</td><td>5.6</td><td>7.1</td></tr><tr style="height:15.0pt;font-style:inherit;font-variant:inherit;
font-weight:inherit;font-stretch: inherit;line-height:inherit"><td>制热容量</td><td>kw</td><td>2.5</td><td>3.2</td><td>4</td><td>5</td><td>6.3</td><td>8</td></tr><tr style="height:29.25pt;font-style:inherit;font-variant:inherit;
font-weight:inherit;font-stretch: inherit;line-height:inherit"><td>尺寸 ( H×W×D )</td><td>mm</td><td colspan="4">200×700×450</td><td>200×900×450</td><td>200×1100×450</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt><img src="./product_2img/3peydgyu3j99nhdz89crc9xdmjwjhswq.png" width="160px" height="110px">
                        </dt>
                        <dd>
                            <h3>全效型4/5HP</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">全效型4/5HP</div><table><colgroup><col><col><col><col></colgroup><tbody><tr><td colspan="2">HP(<span>匹数</span><span>)</span></td><td>4</td><td>5</td></tr><tr><td colspan="2">型号</td><td>LMXS4ABV</td><td>LMXS5BAV</td></tr><tr><td colspan="2">电源</td><td>単相<span>220V50Hz</span></td><td><br></td></tr><tr><td>制冷容量</td><td>kw</td><td>12</td><td>14</td></tr><tr><td>制热容量</td><td>kw</td><td>12.5</td><td>16</td></tr><tr><td>尺寸<span>(H×W×D)</span></td><td>mm</td><td colspan="2">990×940×320</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt><img src="./product_2img/vm94m4aje7wyerjg35tcpva42x333jqg.png" width="160px" height="110px" >
                        </dt>
                        <dd>
                            <h3>全效型6/8HP</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">全效型6/8HP</div><table><colgroup><col><col><col><col></colgroup><tbody><tr><td colspan="2">HP(<span>匹数</span><span>)</span></td><td>6</td><td>8</td></tr><tr><td colspan="2">型号</td><td>LMXS6BAV</td><td>LMXS8ABY</td></tr><tr><td colspan="2">电源</td><td>単相<span>220V50Hz</span></td><td>三相<span>380V50Hz</span></td></tr><tr><td>制冷容量</td><td>kw</td><td>15.5</td><td>22.4</td></tr><tr><td>制热容量</td><td>kw</td><td>18</td><td>25</td></tr><tr><td>尺寸<span>(H×W×D)</span></td><td>mm</td><td>1345×900×320</td><td>1430×940×320</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include component/footer.ejs%>

<script src="/style/js/product.js"></script>
</body>
</html>