<!DOCTYPE html>
<html>
<head>
    <title>武汉家用中央空调产品展示 家用中央空调-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <link rel="stylesheet" href="/libs/layer/skin/default/layer.css">
    <link rel="stylesheet" href="/style/css/product.css">
    <%- include component/meta.ejs %>
    <script src="/libs/layer/layer.js"></script>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>
    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512110643524352.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div id="fold">
                <div class="model open" >
                    <div class="panel-title">全效家用中央空调</div>
                    <div class="dh">
                        <ul>
                            <li class="current"><a href="product_jiayongzhongyangkongtiao.html">住宅用N系列</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="model close">
                    <div class="panel-title">经典系列</div>
                    <div class="dh">
                        <ul>
                            <li class=""><a href="product_duogongnengVRV.html">LMX系列</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="img"><a href="freeoffer.html"><img src="./product_jiayongzhongyangkongtiao_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img src="./product_jiayongzhongyangkongtiao_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="product.html">产品中心</a> &gt;&gt;<a
                    href="product_jiayongzhongyangkongtiao.html">家用中央空调</a></span>-->
                住宅用N系列 <i>Home central air conditioning</i></div>
            <div class="box">
                <div class="goods">
                    <dl>
                        <dt>
                            <img src="./product_2img/kzut928vcf97fqcwjf252kv773h63p8t.jpg"  width="160px" height="110px">
                        </dt>
                        <dd>
                            <h3> 超薄风管式温湿平衡型</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">超薄风管式温湿平衡型</div><table><colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup><tbody><tr><td colspan="3">型号</td><td>FQRP22AAPN</td><td>FQRP25AAPN</td><td>FQRP28AAPN</td><td>FQRP32AAPN</td><td>FQRP36AAPN</td><td>FQRP40AAPN</td><td>FQRP45AAPN</td><td>FQRP50AAPN</td><td>FQRP56AAPN</td><td>FQRP63AAPN</td><td>FQRP71AAPN</td></tr><tr><td colspan="3">电源</td><td colspan="11">单相<span>220V50Hz</span></td></tr><tr><td colspan="2">制冷量</td><td>kW</td><td>2.2</td><td>2.5</td><td>2.8</td><td>3.2</td><td>3.6</td><td>4</td><td>4.5</td><td>5</td><td>5.6</td><td>6.3</td><td>7.1</td></tr><tr><td colspan="2">制热量</td><td>kW</td><td>2.5</td><td>2.8</td><td>3.2</td><td>3.6</td><td>4</td><td>4.5</td><td>5</td><td>5.6</td><td>6.3</td><td>7.1</td><td>8</td></tr><tr><td colspan="2">尺寸<span>(H×W×D)</span></td><td>mm</td><td colspan="7">200×700×620</td><td colspan="2">200×900×620</td><td colspan="2">200×1100×620</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt>
                            <img src="./product_2img/4t5x5tkym7cuqkhpzmz6tyucq8bjujz6.png" width="160px" height="110px">
                        </dt>
                        <dd>
                            <h3>卫浴用嵌入式</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">卫浴用嵌入式</div><table><colgroup><col span="5"><col></colgroup><tbody><tr><td colspan="3">型号</td><td colspan="3">FJEBP22BA</td></tr><tr><td colspan="3">电源</td><td colspan="3">单相 220V 50Hz</td></tr><tr><td colspan="2">制冷容量</td><td>kw</td><td colspan="3">1.95</td></tr><tr><td colspan="2">制热容量</td><td>kw</td><td colspan="3">3.2</td></tr><tr><td colspan="2">机器尺寸 ( H×W×D )</td><td>mm</td><td colspan="3">230×555×540</td></tr><tr><td colspan="2">面板尺寸 ( H×W×D )</td><td>mm</td><td colspan="3">60×625×640<span>（天花板内高度</span><span>45</span><span>）</span></td></tr><tr><td colspan="2">排风扇尺寸 ( H×W×D )</td><td>mm</td><td colspan="3">215×245×370</td></tr><tr><td colspan="3">面板型号</td><td colspan="3">BYEBP22W1C(月光白)</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt>
                            <img src="./product_2img/d82u6n9aawqsqsq2dqyu43kc4wn72knr.jpg" width="160px" height="110px"></dt>
                        <dd>
                            <h3>卫浴用嵌入式LED型</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">卫浴用嵌入式LED型</div><table><colgroup><col><col><col><col><col><col></colgroup><tbody><tr><td colspan="3">型号</td><td colspan="3">FJEBP22BAL</td></tr><tr><td colspan="3">电源</td><td colspan="3">单相220V50Hz</td></tr><tr><td colspan="2">制冷量</td><td>kW</td><td colspan="3">1.95</td></tr><tr><td colspan="2">制热量</td><td>kW</td><td colspan="3">3.2</td></tr><tr><td colspan="2">机器尺寸(H×W×D)</td><td>mm</td><td colspan="3">230×555×540</td></tr><tr><td colspan="2">面板尺寸(H×W×D)</td><td>mm</td><td colspan="3">60×625×640(天花板内高度45)</td></tr><tr><td colspan="2">排风扇尺寸(H×W×D)</td><td>mm</td><td colspan="3">215×245×370</td></tr><tr><td colspan="2">LED灯尺寸(W×D)</td><td>mm</td><td colspan="3">608×125</td></tr><tr><td colspan="2">LED灯光色（色温）</td><td>K</td><td colspan="3">暖色黄光(4000)</td></tr><tr><td colspan="2">LED灯功率</td><td>W</td><td colspan="3">22</td></tr><tr><td colspan="3">面板型号</td><td colspan="3">BYEBP22WL1C(月光白)</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt><img src="./product_2img/urwxsdw2h49cxuhs9xa9zur87jzsfwyp.png" width="160px" height="110px">
                        </dt>
                        <dd>
                            <h3>全效型4/5HP</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">全效型4/5HP</div><table><colgroup><col><col><col><col><col></colgroup><tbody><tr><td colspan="3">型号</td><td>RQZQ4AAVN</td><td>RQZQ5AAVN</td></tr><tr><td colspan="3">电源</td><td colspan="2">单相50Hz220V</td></tr><tr><td colspan="2">制冷量</td><td>kW</td><td>11.2</td><td>14</td></tr><tr><td colspan="2">制热量</td><td>kW</td><td>12.5</td><td>16</td></tr><tr><td colspan="2">机器尺寸(H×W×D)</td><td>mm</td><td colspan="2">990×940×320</td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
                <div class="goods">
                    <dl>
                        <dt><img src="./product_2img/8ffe3z4kwsjg8n25r7k5zz9r89s4p5p7.png" width="160px" height="110px" >
                        </dt>
                        <dd>
                            <h3>全效型6-9HP</h3>
                            <div class="goodsmain">规格参数</div>
                            <div class="alert-inside"><div class="alert-title">全效型6-9HP</div><table width="576"><colgroup><col width="72" span="8"></colgroup><tbody><tr class="firstRow"><td width="216" colspan="3"><span>型号</span></td><td width="72"><span>RQZQ6AAVN</span></td><td width="72"><span>RQZQ7BAVN</span></td><td width="72"><span>RQZQ7AAYN</span></td><td width="72"><span>RQZQ8AAYN</span></td><td width="72"><span>RQZQ9AAYN</span></td></tr><tr><td width="216" colspan="3"><span>电源</span></td><td width="144" colspan="2"><span><span>单相</span>  50Hz 220V</span></td><td width="216" colspan="3"><span><span>三相</span>  50Hz 380V</span></td></tr><tr><td width="144" colspan="2"><span>制冷量</span></td><td width="72"><span>kW</span></td><td width="72"><span>15.5</span></td><td width="144" colspan="2"><span>20.0</span></td><td width="72"><span>22.4</span></td><td width="72"><span>24.1</span></td></tr><tr><td width="144" colspan="2"><span>制热量</span></td><td width="72"><span>kW</span></td><td width="72"><span>18.0</span></td><td width="144" colspan="2"><span>22.4</span></td><td width="72"><span>25.0</span></td><td width="72"><span>26.0</span></td></tr><tr><td width="144" colspan="2"><span>尺寸 ( H×W×D )</span></td><td width="72"><span>mm</span></td><td width="72"><span>1345×900×320</span></td><td width="288" colspan="4"><span>1430×940×320</span></td></tr></tbody></table></div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>
<script src="/style/js/product.js"></script>
</body>
</html>