<!DOCTYPE html>
<html>
<head>
    <title> 公寓-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512095978127812.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="project_gongyu.html">公寓</a></li>
                    <li class=""><a href="project_bieshu.html">别墅及大户型</a></li>
                    <li class=""><a href="project_shangye.html">商业空间</a></li>
                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img
                    src="./project_gongyu_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img
                    src="./project_gongyu_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="project.html">工程案例</a> &gt;&gt;<a
                    href="project_gongyu.html">公寓</a></span>-->
                公寓 <i>Engineering case</i></div>
            <div class="box">
                <div class="case">
                    <ul>
                        <li>
                            <div class="pic"><a href="javascript:void(0);"><img
                                    src="./index_files/20170621213957.png" width="100%" height="100%"></a></div>
                            <div class="txt"><a href="javascript:void(0);">安顺家园</a>
                            </div>
                        </li>
                        <li>
                            <div class="pic"><a href="javascript:void(0);"><img
                                    src="./index_files/20170621214123.png" width="100%" height="100%"></a></div>
                            <div class="txt"><a href="javascript:void(0);">虹桥家园</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="javascript:void(0);"><img
                                    src="./index_files/20170621214143.png" width="100%" height="100%"></a></div>
                            <div class="txt"><a href="javascript:void(0);">凯乐家园</a>
                            </div>
                        </li>
                        <div class="skpage">共 3 篇 页次:<font color="red"> 1</font>/1页 20 篇/页 首页 上一页 下一页 尾页</div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>

</body>
</html>