<!DOCTYPE html>
<html>
<head>
    <title> 最新活动-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="中央空调,家用中央空调,中央空调什么牌子好,大金空调怎么样,武汉大金空调价格,武汉大金空调经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四,武汉大金空调一拖五价格,大金空调安装注意事项,武汉大金空调售后电话,大金空调故障代码，武汉大金空调售后维修">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <%- include component/meta.ejs %>
</head>

<body>
<div class="container">
    <%- include component/headerDiv.ejs %>

    <div class="banner">
        <div class="images">
            <div style="background:url(UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class="current"><a href="zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="freeoffer.html"><img  src="./zuixinhuodong_files/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="contactus.html"><img  src="./zuixinhuodong_files/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="title">
                <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a
                    href="hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                    href="zuixinhuodong.html">最新活动</a></span>-->
                最新活动 <i>News</i></div>
            <div class="box">
                <div class="listnews">
                    <ul>
                        <li><a href="article/219.html">大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典<span>2017-06-29</span></a></li>
                        <li><a href="article/220.html">大金空调荣获“中国家电服务业金鼎奖优秀企业奖”<span>2017-06-20</span></a></li>
                        <div class="skpage">共 2 篇 页次:<font color="red"> 1</font>/1页 20 篇/页 首页 上一页 下一页 尾页</div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include component/footer.ejs%>
</body>
</html>