<!DOCTYPE html>
<html>
<head>
    <title>选择家用中央空调要注意的要点-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="hangyezixun.html">大金空调资讯</a></span>-->
                    大金空调资讯 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>选择家用中央空调要注意的要点</h1>
                        <span>查看:31 </span> <span> 日期:2016-04-09</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><p class="MsoNormal" style="line-height:11.0pt;">
	<span class="apple-converted-space" style="font-family:&#39;Microsoft YaHei&#39;;">&nbsp;</span><span
                            style="font-family:&#39;Microsoft YaHei&#39;;">首先我们要看的还是价格</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp;&nbsp;&nbsp; 消费者在选购产品的时候要有一个自己的心理价位，还要根据根据自家的房型结构选择合适的家用中央空调，根据房间的用途和功能，选择家用中央空调的能量控制。由于普通的消费者一般都对中央空调不太懂,很容易被一些表面的数字迷惑，要知道一台中央空调不仅是一台机器，还需要涉及到空调的设计，安装，以及和家装的配合效果。要避免在后期会有任何的隐性费用。所以一定要和销售人员商量好。虽然价格有限，但是也不要被销售人员带入陷阱。</span><br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"></span><br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 在价格的基础上我们要看的中央空调的负荷，了解空调的性能</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 选购中央空调要考虑的是房屋的面积与朝向，看看房子围栏机构是否有大面积玻璃窗，一般而言，普通家居环境所需冷量达到房间最大总冷负荷量60%—70%就可以了，这样可以节省投资，避免不必要的浪费。可以根据实际情况适当的增减。可以将图纸给设计人员，设计出一份配置清单，确定安装的材料以及实际需要使用费用和量。通过销售人员的介绍来了解空调的性能，比如空调使用的技术有什么优势。基本上市场上销售的空调都可以提供冷热的需求，但是仅仅提供温度是不够的，还要看中央空调，是否支持变频技术，能效等级怎么样，有没有核心技术。</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 中央空调选择了那么接下来我们要看的就是外机的安装位置</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 选择合理的空调布局。主机位置，要置于通风散热良好便于维护的位置，同时，要尽量隐蔽，避免影响房子的外观或噪音过大。室内机位置，应和室内装修布局相搭配，多暗藏在吊顶内，一般只需25厘米的高度就可以放置。同时，安装时要注意通风良好。</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 外机确定好后我们还要确定的是室内的出风口</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 确定室内机与风口。一般情况下，每12平方米的空间，需要一匹的空调。每个房间或厅一般只需要一台室内机或者一个风口。若客厅面积较大，或呈长方形，可以多加一台室内机或风口。</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 当中央开空调的销售安装都完成后最后我们要看的是该商家的售后服务</span><br>
<br>
<span style="font-size:14px;font-family:&#39;Microsoft YaHei&#39;;"> &nbsp; &nbsp; 选择专业服务。家庭中央空调的服务，不仅包括售后服务，还包括售前的咨询、方案设计、安装施工，所以在购买的时候，尽量选择服务佳、信誉好的企业，以保障自己的利益。</span>
</p>
<div>
	<br>
</div>
<br></span>
                    <div class="mcnext white_bj"><span style="float:left;">上一篇：<a href="article/137.html"
                                                                                  data-role="button" data-ajax="false"
                                                                                  title="2016在武汉怎么选择合适的空调">2016在武汉怎么选择合适的空调</a></span>
                        <span style="float:right;">下一篇：<a href="article/140.html" data-role="button" data-ajax="false"
                                                          title="问鼎带你了解温湿平衡室内机">问鼎带你了解温湿平衡室内机</a></span></div>


                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>
</body>
</html>