<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        .textcenter{text-align:center;}
    </style>
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class="current"><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">最新活动</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典</h1>
                        <span>查看:<script language="Javascript" src="./219_files/hits.asp"></script>103 </span> <span> 日期:2017-06-29</span>
                        <span> 文字:<script language="Javascript">
                            function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>
                            【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <div id="ContentArea">
                        <p>
                        　6月23日，国际权威家居杂志《安邸AD》举办的”2017AD100″颁奖典礼在上海复星艺术中心隆重举行。AD100榜单评选在建筑、室内设计界具有突出贡献的精英，在建筑设计界具有深度影响力。大金空调受邀参加盛典并与《安邸AD》合作打造艺术装置”Daikin Corner”，展现科技与自然完美结合的品牌理念。
                        </p> <br>
                        <p class="textcenter"><img src="./219_files/1.jpg"></p>
                        <p>夜幕之下，盛典举办地复星艺术中心闪耀夺目，它由著名英国建筑设计事务所设计，建筑外墙的“竹帘”在灯光晚霞映衬下缓缓转动。</p>
                        <p>现场包裹在茂密植物中的”Daikin Corner”以空调外机和空气管道打造，通过高科技在机身上投射蓝天白云，展现纯净的空气，传递清新自然之感。</p>
                        <p  class="textcenter"><img src="./219_files/2.png"></p>
                        <p>本次艺术装置特邀意大利知名设计师Giuseppe Univochi先生精心创作，以艺术赋予机器个性和生命力，大金好比清新空气的能量源，在自然中为人类传递着舒适和生命。</p>
                        <p>Giuseppe先生称“蓝天，白云，空气，绿色”是本次设计的灵感来源，他希望通过这个艺术装置，让大家感受到科技与自然的和谐共融，激发起每位参观者对自然对生活的尊敬，以及对于”New Life Style”美好生活空间的向往。</p>
                        <p  class="textcenter"><img src="./219_files/3.jpg"></p>
                        <p>大金空调一直以来用科技将自然与人类生活连接成息息相关的艺术，从人们感知的“温度、湿度、气流、洁净度”四个维度探索空气与自然的奥秘。这不仅是一种超越冷暖的技术，更为用户带来了全新的生活方式，给其打造更为舒适、贴心体验的”New Life Style”。</p>
                        <p  class="textcenter"><img src="./219_files/4.jpg"></p>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="220.html" data-role="button" data-ajax="false" title="大金空调荣获“中国家电服务业金鼎奖优秀企业奖”">大金空调荣获“中国家电服务业金鼎奖优秀企业奖”</a></span>
                        <span style="float:right;">下一篇：<a href="javascript:void(0);" data-role="button" data-ajax="false"  title="没有了">没有了</a></span>
                    </div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>