<!DOCTYPE html>
<html>
<head>
    <title>大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        .textcenter{text-align:center;}
        .textcenter img{max-width:80%;}
    </style>
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class="current"><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">最新活动</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金空调荣获“中国家电服务业金鼎奖优秀企业奖”</h1>
                        <span>查看: 103 </span> <span> 日期:2017-06-29</span>
                        <span> 文字:<script language="Javascript">
                            function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>
                            【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <div id="ContentArea">
                        <p>
                        　近日，在中国家用电器服务维修协会的第六届会员代表大会上，大金空调荣获2012~2017中国家电服务业金鼎奖优秀企业奖。
                        </p> <br>
                        <p class="textcenter"><img src="./220_files/1.jpg"></p>
                        <p>中国家电服务业金鼎奖每五年进行一届评选及颁奖，本届是对2012～2017年为中国家电服务业做出突出贡献的企业予以表彰。该奖项记录了中国家电服务业的发展，是业内最具行业和社会影响力的奖项。此次大金空调荣获此殊荣，也反映了业界对大金始终把客户满意度放在首位，并始终完善服务体制，提高服务品质的充分肯定。</p>
                        <p>完善的售后体系 <br>
                            大金空调自1995年进入中国市场以来，不仅致力于为用户提供优质的空调产品，同时也注重完善安装工事和维修保养等方面的售后服务体制，始终追求顾客满意度的提升。大金在北京、上海、广州为中心，集维修、技术人员、前台受理，部品对应为一体，专门成立了自己的售后公司。目前，已在全国建立了102个服务网点，321多家指定维修店和849多家特约维修店。并建立了完善快速的零部件出货体制，铺设覆盖全国的配送网络，引进先进便捷的在线订货系统，以及实施合理标准化在库管理，适量配置且第一时间配送客户所需部品。同时，全国400客户服务中心365天24小时为客户提供快速、准确、亲切的售后服务。</p>
                        <p  class="textcenter"><img src="./220_files/2.jpg"></p>
                        <p>始终将客户满意度放在首位 <br>
                            在服务态度上，大金始终秉承快速、准确、亲切的理念，构建完善的客户满意度调查体系，第一时间获取客户对产品、安装和服务的反馈意见，将客户的意见投诉、合理化建议及时传达给相关部门并做出改进，为客户提供尽可能的帮助。并且每年对购买产品的客户采取问卷和电话相结合的方式进行调研。</p>
                        <p  class="textcenter"><img src="./220_files/3.jpg"></p>
                        <p>高品质的服务水准 <br>
                            大金立志创建最高的售后服务品质，通过各类活动持续提高售后人员的技能和服务质量，力求确保在任何时间、任何地点都能为客户提供始终如一的高标准技术服务，满足客户需求。大金设有研修中心，培训维修员工技能，将讲习会和现场实习结合，创新培训模式；为了切磋技艺，激发一线员工热情，鼓励员工不断提升技术水平，定期举办售后技能比武；大金还会在内部组织技术考核，包括理论考试、实操考试、进行技术评定，并设立了技术等级工程师认定制度。</p>
                        <p  class="textcenter"><img src="./220_files/4.jpg"></p>
                        <p>企业的长足发展离不开对于技术品质的高标准和严要求。大金空调坚信，唯有将卓越的产品品质与贴心专业的用户服务相结合，方可保持业界领先。今后，大金空调也将继续秉承并倡导精益求精的钻研精神，推出更多高品质的产品和服务，为探索空气与环境的新价值，为人们创造幸福、温暖、舒适的生活空间而孜孜以求，不断为消费者的体验与信赖切实践行。</p>

                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="javascript:void(0);" data-role="button" data-ajax="false" title="没有了">没有了</a></span>
                        <span style="float:right;">下一篇：<a href="219.html" data-role="button" data-ajax="false" title="大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典">大金空调展现科技自然和谐之美——”Daikin Corner”亮相AD100颁奖盛典</a></span>
                    </div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>