<!DOCTYPE html>
<html>
<head>
    <title>秉承初心 匠心耕耘 —— 大金空调斩获“2016年度中央空调领军品牌”-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="2016年12月22日，由慧聪网主办的第十届中国空调制冷新风净化产业品牌盛会暨经销商年会在北京钓鱼台国宾馆隆重召开，在数百名暖通行业精英、专家学者、企业代表和媒体代表的共同见证下，大金空调凭借不断劲升的品牌价值、坚实有力的产品品质、贴心优质的产品服务，斩获“2016年度中央空调领军品牌”，再次奠定行业领军地位。">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="hangyezixun.html">大金空调资讯</a></span>-->
                    大金空调资讯 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>秉承初心 匠心耕耘 —— 大金空调斩获“2016年度中央空调领军品牌”</h1>
                        <span>查看: 9 </span> <span> 日期:2017-01-02</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><div style="text-align:center;">
	<span style="line-height:1.5;"><img src="./226_files/20170102165644194419.png" ></span>
</div>
<br>
　　大金自1924年成立以来，已发展成为跨空调、氟化学、油压机械等多个领域的综合型制造企业。特别在空调领域，是集空调机、冷媒及压缩机的研发、生产、销售与服务为一体的专业企业。<br>
<br>
　　作为一家拥有九十余年历史的世界著名空调专业企业，大金拥有雄厚的产品研发和生产能力，自1995年进入中国市场以来，大金已扎根中国20余年，始终坚持推广全新的空调文化。大金率先将VRV*1空调系统带入中国市场，以锐不可当的势头，开创了楼宇用多联空调系统的新时代，并连续多年占据中国多联机市场NO.1的地位*2，成为越来越多场合空调解决方案的优质之选。2005年，大金在中国率先推出家用中央空调这一新的空调理念，倡导“以藏为美”的家装新风尚。2014年，大金更在“以藏为美”的前提下，推出“温度、湿度、气流、洁净度”四维一体的“NewLifeStyle”全效家用中央空调，并以多达13种形式多样、功能齐全的室内机型，为每个家庭提供个性化使用体验，重新定义家用中央空调新文化，更凭借多年来在空调领域技术的积累，专注于为客户提供高品质的舒适节能空间，在先进技术和卓越品质的保障下，大金已在中国构筑起了专业、高端的品牌形象。<br>
<br>
　　在外界空气环境问题日趋严重的今天，室内居住环境的空气质量越来越受到人们的关注，消费者的消费习惯在不断发生变化，对于高品质健康家居生活的关注和追求也在不断攀升，<a href=""
                                                                                    target="_blank"><strong><span
                                style="color:#E53333;">大金空调</span></strong></a>始终秉承“发掘下一个需求”的经营理念，以其不断追求高效而卓越的节能性，依托自身高品质产品的实力，针对中国市场的需求，不断优于市场一步，为消费者提供全方位优质产品服务。<br>
<br>
　　所有伟大的事业，都源于一个朴实的愿望。未来，<a href="" target="_blank"><strong><span style="color:#E53333;">大金空调</span></strong></a>将一如既往地秉承初心、精益求精，深入市场、感知用户需求、搭载自身的技术革新，不断推出超前性的空调系列产品，为每一位用户提供全方位的空气解决方案，精心打造舒适、健康的办公、居家环境，为中国空调事业的发展做出贡献，对环境、对社会的可持续发展做出大金品牌应肩负的责任和承诺。<br></span>
                    <div class="mcnext white_bj"><span style="float:left;">上一篇：<a href="article/224.html"
                                                                                  data-role="button" data-ajax="false"
                                                                                  title="大金机房空调 中央空调那家好 大金机房专业安装">大金机房空调 中央空调那家好 大金机房专业安装</a></span>
                        <span style="float:right;">下一篇：<a href="article/230.html" data-role="button" data-ajax="false"
                                                          title="降温了!告诉你大金空调制热的秘笈！">降温了!告诉你大金空调制热的秘笈！</a></span></div>


                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>