<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大金中央空调之 — 会排污的大金-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="民以食为天，厨房是非常重要的生活空间，但是厨房油污问题一直都是大众的困扰，特别是对中国家庭来说，中国菜一般油烟都比较大，虽然很好吃，但是厨房墙壁都会沾上很多油污，很难清洗，影响了整个厨房的美观，并且也会影响作做饭人的心情。　　大金中央空调高耐久厨房嵌入式LED型全效中央空调/高耐久厨房用嵌入式标准型全效">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金中央空调之 — 会排污的大金</h1>
                        <span>查看: 15 </span> <span> 日期:2017-01-14</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea">　　民以食为天，厨房是非常重要的生活空间，但是厨房油污问题一直都是大众的困扰，特别是对中国家庭来说，中国菜一般油烟都比较大，虽然很好吃，但是厨房墙壁都会沾上很多油污，很难清洗，影响了整个厨房的美观，并且也会影响作做饭人的心情。<br>
<div style="text-align:center;">
	<span style="line-height:1.5;"><img src="./231_files/20170114172810141014.png" ></span>
</div>
　　<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空</span></strong></a>调高耐久厨房嵌入式LED型全效中央空调/高耐久厨房用嵌入式标准型全效中央空调克服了常见空调不可对抗油污的课题，使<a
                                href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>走入了厨房生活，营造舒适清凉的烹饪环境。<br>
<br>
　　1<br>
<br>
　　人性化送风<br>
<br>
　　人性化送风方式，为燥热厨房送去清凉；排油烟机风量大，与空调同时使用时，冷空气容易被吸走，采用定点送风形式，直接给人带来清凉享受，更好的保证烧菜时人体的舒适效果，除了烧菜时间，其实一天之中人们在厨房度过的时间很短，大金让厨房时间都变成一种享受。<br>
<br>
　　2<br>
<br>
　　专业抗油污<br>
<br>
　　专业对抗油污，保持长效使用；合理的翅片设计，减少油烟附着；专用高耐油污防霉滤网，双重过滤交叉结构，高效对抗油污，有效隔离油烟；抗油污材质面板，不易开裂变色，油污难以附着，温水也可轻松擦洗；易拆洗结构，维护方便；智能干燥运转，去除异味有效防霉。<br>
<br>
　　3<br>
<br>
　　美化厨房环境<br>
<br>
　　高寿命LED灯，明亮白光，适合作业，明亮白光，打造通透开阔的明亮厨房；空调与光源一体化安装，优化厨房吊顶空间；IP43*²防护等级，高湿环境也安心。<br>
<br>
<div style="text-align:center;">
	<span style="line-height:1.5;"></span><span style="line-height:1.5;"><img src="./231_files/20170114172994489448.png"
                                                                              ></span>
</div></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="javascript:void(0);" data-role="button" data-ajax="false" title="没有了">没有了</a></span>
                        <span style="float:right;">下一篇：<a href="234.html" data-role="button" data-ajax="false" title="大金家用中央空调--十大有用常识">大金家用中央空调--十大有用常识</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>