<!DOCTYPE html>
<html>
<head>
    <title>大金中央空调荣获“大雁奖-中国家居产业大国工匠奖”称号-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="2017年1月7日，在北京国家会议中心举行的第四届中国家居产业发展年会暨2016年度中国家居产业“大雁奖”颁奖盛典上，大金空调荣获“2016年度中国家居产业大国工匠奖”称号。">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="hangyezixun.html">大金空调资讯</a></span>-->
                    大金空调资讯 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金中央空调荣获“大雁奖-中国家居产业大国工匠奖”称号</h1>
                        <span>查看: 11 </span> <span> 日期:2017-02-14</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><section class="" powered-by="xiumi.us"
                                                    style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;"><section
                            class=""
                            style="margin:0px;padding:0px 0.5em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class="" powered-by="xiumi.us"
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	2017年1月7日，在<span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;color:#377BC7;">北京国家会议中心</span>举行的<span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;color:#377BC7;">第四届中国家居产业发展年会暨2016年度中国家居产业“大雁奖”颁奖盛典</span>上，大金空调荣获<span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;color:#377BC7;">“2016年度中国家居产业大国工匠奖”</span>称号。
</p>
</section></section></section></section></section><section class=""
                                                           style="margin:0px 0px 0px auto;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;"><section
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;border-top-width:1px;border-top-style:solid;border-top-color:#9E9E9E;"></section><section
                            style="margin:-0.9em 0px 0px 2em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:1.4em;border-left-width:1px;border-left-style:solid;border-left-color:#9E9E9E;"></section></section></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;white-space:normal;font-size:14px;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class="" powered-by="xiumi.us"
         style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;text-align:center;"><img
        class="" data-ratio="0.6640625"
        data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvaeX3cyT56GO0bTHzA6fyN9wGOK3GwQIFxwuB7GicBMjGzTewtfic5czfmfSMiccCG3WxJJxOfOPibdDg/640?wx_fmt=jpeg"
        data-type="jpeg" data-w="640" _width="auto" src="./233_files/640" data-fail="0"
        style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;vertical-align:middle;visibility:visible !important;width:auto !important;"></section></section><section
                                class="" powered-by="xiumi.us"
                                style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                                class=""
                                style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;text-align:center;"><section
                                class=""
                                style="margin:0px;padding:0px 0px 0px 1em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;text-align:left;width:670px;"><section
                                style="margin:0px 0px 0px -1em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:bottom;transform:rotate(0deg);"><section
                                style="margin:-1em 0px 0px 0.2em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;border-left-width:0.8em;border-left-style:solid;border-left-color:#FFFFFF;border-bottom-width:0.8em;border-bottom-style:solid;border-bottom-color:#FFFFFF;border-top-width:0.8em !important;border-top-style:solid !important;border-top-color:transparent !important;border-right-width:0.8em !important;border-right-style:solid !important;border-right-color:transparent !important;"><br
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
</section></section></section></section></section><section class="" powered-by="xiumi.us"
                                                           style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;box-sizing:border-box;clear:both;min-height:1em;line-height:22.4px;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box;word-wrap:break-word !important;color:#377BC7;">“大雁奖”是中国家居产业在公信力、影响力方面的最高奖项，由消费者、主流媒体、行业社团组织以及专家共同认可和评选。旨在表彰那些率领行业前行、成就卓越、贡献突出的领军企业。</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;box-sizing:border-box;clear:both;min-height:1em;line-height:22.4px;">
	大金空调凭借产品的优异性能，先进的环保理念和优秀的品质，赢得了组委会和消费者的青睐并一举斩获<span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box;word-wrap:break-word !important;color:#377BC7;">“2016年度中国家居产业大国工匠奖”</span>殊荣。这也是对<a
        href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>为中国空调文化发展所作贡献的极高褒奖。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;box-sizing:border-box;clear:both;min-height:1em;line-height:22.4px;">
	<br>
</p>
<p style="text-align:center;margin-top:10px;margin-bottom:10px;padding:0px;max-width:100%;clear:both;min-height:1em;font-family:微软雅黑;box-sizing:border-box !important;">
	<img class="" data-ratio="0.709375"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvaeX3cyT56GO0bTHzA6fyN98OP8PEjR2qzJew2zEicu1RLgghcdSxDMXIpWTme3Xq2uaPMtUkWiaKKw/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" _width="auto" src="./233_files/640(1)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;vertical-align:middle;visibility:visible !important;width:auto !important;">
</p>
</section><section class="" powered-by="xiumi.us"
                   style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                                class=""
                                style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;"><section
                                class=""
                                style="margin:0px 0px -0.9em 0.5em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:1.4em;border-left-width:1px;border-left-style:solid;border-left-color:#9E9E9E;"></section><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;border-top-width:1px;border-top-style:solid;border-top-color:#9E9E9E;"></section><section
                                class=""
                                style="margin:0px;padding:0px 0.5em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class="" powered-by="xiumi.us"
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;color:#377BC7;"><a
            href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>坚信，唯有卓越品质方可保持领先，为此，大金将“工匠精神”作为事业基础，不断为消费者提供高品质的产品和服务。</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	通过引进海外先进设备及管理技术，在硬件条件上保障了全球同质的品质要求。同时，依托专门设立的品质管理部门，从零部件采购开始就落实严苛检测标准，每个生产环节均有专人管控，直至出厂。通过专业级的检测设备和方法，保证了每一台大金空调的优越品质。
</p>
</section></section></section></section></section><section class=""
                                                           style="margin:0px 0px 0px auto;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;"><section
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;border-top-width:1px;border-top-style:solid;border-top-color:#9E9E9E;"></section><section
                                style="margin:-0.9em 0px 0px 2em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:1.4em;border-left-width:1px;border-left-style:solid;border-left-color:#9E9E9E;"></section></section></section></section><section
                                class="" powered-by="xiumi.us"
                                style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                                class=""
                                style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;text-align:center;"><br>
</section></section><section class="" powered-by="xiumi.us"
                             style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                                class=""
                                style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;"><section
                                class=""
                                style="margin:0px 0px -0.9em 0.5em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:1.4em;border-left-width:1px;border-left-style:solid;border-left-color:#9E9E9E;"></section><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;border-top-width:1px;border-top-style:solid;border-top-color:#9E9E9E;"></section><section
                                class=""
                                style="margin:0px;padding:0px 0.5em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class="" powered-by="xiumi.us"
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;color:#377BC7;">工匠精神能带来高品质的产品，同时，它也来源于员工的专业技能和全心投入。</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;letter-spacing:0px;line-height:1.6;color:#377BC7;">大金充分发挥“人”的重要性。</span><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;letter-spacing:0px;line-height:1.6;">在生产现场设立技能道场，传授技能经验，在帮助员工迅速掌握核心技能的同时，更向员工传达了以世界第一为目标的大金工匠精神。与此同时，大金从集团、国家、各地区工厂三个层面定期举办技能比武，通过竞赛磨练员工水平。脱颖而出的优秀员工将成为各地区，乃至全球的认定指导人员，为缔造更高品质做出贡献。</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;text-align:left;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;letter-spacing:0px;line-height:1.6;">在产品方面，大金着重落实品质管理和员工责任意识，定期邀请外部专家对产品品质实行全面评审并提出改进意见；在每年的“品质月”活动中，以知识竞赛、质量讲坛、兄弟公司交流等形式，确保工匠精神的切实践行。</span>
</p>
</section></section></section></section></section><section class=""
                                                           style="margin:0px 0px 0px auto;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;"><section
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:2.5em;border-top-width:1px;border-top-style:solid;border-top-color:#9E9E9E;"></section><section
                                style="margin:-0.9em 0px 0px 2em;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:1.4em;border-left-width:1px;border-left-style:solid;border-left-color:#9E9E9E;"></section></section></section></section><section
                                class="" powered-by="xiumi.us"
                                style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;white-space:normal;font-size:14px;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:22.4px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:16px;font-family:微软雅黑;"><section
                                class=""
                                style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#377BC7;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;font-size:14px;box-sizing:border-box !important;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;未来，大金将继续倡导精益求精的工匠精神，结合自主创新，推出更多优质、先进的空调产品，为探索空气与环境的新价值，为人们创造幸福、温暖、舒适的生活空间而孜孜以求。
</p>
</section></section></section></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="232.html" data-role="button" data-ajax="false" title="大金空调荣获“全国质量信得过产品”、“全国质量诚信标杆典型企业”、“全国空调行业质量领先品牌”三项殊荣">大金空调荣获“全国质量信得过产品”、“全国质量诚信标杆典型企业”、“全国空调行业质量领先品牌”三项殊荣</a></span>
                        <span style="float:right;">下一篇：<a href="237.html" data-role="button" data-ajax="false" title="2016年，细数那些大金所获得的荣誉">2016年，细数那些大金所获得的荣誉</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script src="./comm/buttonLite.js"></script>
                <script src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>
</body>
</html>