<!DOCTYPE html>
<html>
<head>
    <title>大金家用中央空调--十大有用常识-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="我们很多人购买了大金空调但是不是很熟悉它的一些使用方法和功能，今天湖北问鼎就跟大家解答一下。">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>

    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金家用中央空调--十大有用常识</h1>
                        <span>查看: 25 </span> <span> 日期:2017-02-15</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea">　　1、常常有水流动的声音，或者水沸腾的声音<br>
<br>
　　这是<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>器内制冷剂流动的声音，即使停止运转也会发出<br>
<br>
　　2、常常有“噗咻”的声音<br>
<br>
　　这是大金中央空调器内制冷剂流动方向发生改变发出的切换声<br>
<br>
　　3、在开始运转时或者停止运转时，室外机有“喀嗒”的声音<br>
<br>
　　这是大金中央空调换向阀在打开或关闭时发出的声音<br>
<br>
　　4、在制冷运转中或者感应除湿运转中风吹出呈雾状<br>
<br>
　　这是因为大金中央空调房间的热空气在被冷空气吹过时形成的<br>
<br>
　　5、从<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>器中吹出异味<br>
<br>
　　这是空气中各种味道（香烟的烟雾，化妆品，食品等）附着于无特殊功能的过滤网后被吹出来的缘故<br>
<br>
　　6、变频大金中央空调机的室外机的运转音变更<br>
<br>
　　这是依照室温的变化，压缩机改变转速所致<br>
<br>
　　7、在除霜时，大金中央空调室外机有蒸气发出<br>
<br>
　　这是附着于室外机热交换器的霜溶化，蒸发所产生的。<br>
<br>
　　8、即使按“运转/停止”，大金中央空调器仍会转动<br>
<br>
　　这是由于自动新鲜除霜（制热运转停止时，机组中微电脑装置探测到室外机有相当程度的积霜情况，有必要自动清除而发出的除霜指令）所致<br>
<br>
　　9、大金中央空调室内机有“嗒嗒”的小声音<br>
<br>
　　这是因室内机风扇电机转速变化的缘故或由于空调本身因温度变化，造成热胀冷缩时所发出的声音。<br>
<br>
　　10、<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>运转灯点亮—闪烁—点亮<br>
<br>
　　这是从停止到运转的预热时，由制冷运转切换为制热运转时，保护回路及预热感应器的缘故<br>
<br>
　　<br></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="231.html" data-role="button" data-ajax="false" title="大金中央空调之 — 会排污的大金">大金中央空调之 — 会排污的大金</a></span>
                        <span style="float:right;">下一篇：<a href="235.html" data-role="button" data-ajax="false" title="大金家用中央空调的选购常识">大金家用中央空调的选购常识</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>
</body>
</html>