<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大金家用中央空调省电小窍门-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="大金中央空调在同产品中是相对省点的，但是相对于其他家电来说耗电量还是比较高，今天给大家讲解一下大金家中央空调的省点小窍门">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金家用中央空调省电小窍门</h1>
                        <span>查看: 26 </span> <span> 日期:2017-02-15</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea">　　购买的空调怎么能够省电，在这里进行科普一下：<br>
<br>
　　一、<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>提醒您，在选购的时候，应该根据房间面积大小选择空调，使空调的功率应适合房间。每个房间都不是完全密封的，同时房屋还要吸收外面的热。当空调完全能够满足房间的制冷时，才不会给空调造成太大的负荷。如果您的房间有向阳的窗户，同时窗户没有窗帘或遮阳棚的话，那么您选购的时候可以略微提升一个档位。空调完全满足房间制冷时，才能提高空调效率。<br>
<br>
　　二、使用空调器时，不宜把温度调得太低，国家推荐家用空调夏季设置的温度为26至27℃，空调每调高1℃，可降低7%至10%的用电负荷。从健康的角度来说，盛夏期间室内与室外最好温差为4至5℃，这样能防止因室内外温差过大而患病感冒，否则容易得“空调病”。<br>
<br>
　　三、使用空调的时候提前将房间的空气换好，一套两居室房间的空气完全更换一遍，足够两个人消耗一个半小时的。如开着窗户，建议开窗户的缝隙不要超过两厘米。在使用空调的过程中，需要尽量控制开门开窗。如果用的是变频空调，当室内温度总与外界一样时，那么变频空调还会调高频率，超负荷工作，增大消耗。如果想停机换空气，最好开窗开门前提前20分钟关空调。<br>
<br>
　　四、使用空调时选择适宜的出风角度会使空气的温度降得更快。空气温度变低后，冷气流容易往下走，制冷时出风口向上，这样的制冷效果好。而在冬天时，热气都是往上走，制热时出风口应该向下。这样也能达到节能的效果。<br>
<br>
　　五、如果在使用空调时使用电风扇，电风扇的吹动力将使室内冷空气加速循环，冷气分布均匀，可不需降低设定温度，而达到较佳的冷气效果。既有舒适感，也能节电。如果同时采用窗帘等遮阳，减少阳光辐射带来的室温影响也可以节省空调制冷用电。<br>
<br>
　　六、在出门前应该提前关空调，最好是离家前十分钟即关冷气，在这十分钟之内室温还足以使人感觉到凉爽，养成出门提前关空调的习惯，可以节省电能。<br>
<br>
　　七、在睡眠时，人们应该使用空调的睡眠功能，有的空调定义为经济功能。睡眠时，人体散发的热量减少，对温度变化不敏感。睡眠功能就是设定在人们入睡的一定时间后，空调器会自动调高室内温度，因此使用这个功能可以起到20%的节电效果。<br>
<br>
　　八、空调器不宜安装在阳光直接照射的地方，夏日阳光灼热很容易把外机晒热，从而影响空调器自身散热效果。如果条件不允许，室外机只能装在向阳的一面，居民可以在外机顶部装上遮阳篷。<br>
<br>
　　九、有的人担心空调外机因雨雪等气候原因造成损坏和锈蚀，就在空调外机上披上遮雨的材料。其实各品牌空调室外机一般已有防水功能，给空调“穿雨衣”反而会影响散热，增加电耗。<br>
<br>
　　十、空调器面板上的过滤网应隔一段时间检查一次，约半月左右清扫一次。若积尘太多，应把它放在不超过45℃的温水中清洗干净。大金中央空调建议，清洗后可以吹干后按上，使空调送风通畅，降低能耗的同时对人的健康也有利。<br>
<br>
　　家用中央空调耗电吗？<br>
<br>
　　家用中央很耗电其实是一个误区，<a href="" target="_blank"><strong><span style="color:#E53333;"></span></strong></a><strong><a
                                href="" title="" target="_blank">大金家用中央空调</a></strong></span>的室内机是可以独立开启的！哪个房间需要空调，就开启该房间的室内机，不使用的室内机不耗电，真正实现按需输出。而且，大金直流变频技术的应用使得在部分负荷使用时空调机组更加省电。所以，家用中央空调不会比分体空调更耗电。<br>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="235.html" data-role="button" data-ajax="false" title="大金家用中央空调的选购常识">大金家用中央空调的选购常识</a></span>
                        <span style="float:right;">下一篇：<a href="239.html" data-role="button" data-ajax="false" title="为啥大金中央空调总比别家卖的好？">为啥大金中央空调总比别家卖的好？</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>
</body>
</html>