<!DOCTYPE html>
<html>
<head>
    <title>不可撼动！大金中国多联机市场占有率再次夺冠 ！-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="二月对于中央空调市场或许是个重要的月份，各家媒体竞相发布了2016年的中央空调市场报告，几家欢喜几家忧。大金依靠踏实的产品质量，始终以稳定的步调，一步一个脚印，踩下一个又一个不破的记录，成功摘获中国多联机市场占有率冠军！">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="hangyezixun.html">大金空调资讯</a></span>-->
                    大金空调资讯 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>不可撼动！大金中国多联机市场占有率再次夺冠 ！</h1>
                        <span>查看: 20 </span> <span> 日期:2017-02-24</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><section class="" powered-by="xiumi.us"
                                                    style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:0.5em 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;"><section
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border-top-width:2px;border-top-style:dotted;border-top-color:#5F5E66;width:205px;"></section><section
                            class=""
                            style="margin:4px 0px 0px;padding:0px 5px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#FFFFFF;font-size:19.2px;background-color:#00C1DA;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	&nbsp;多联机增长，势不可挡
</p>
</section></section></section></section><section class="" powered-by="xiumi.us"
                                                 style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	经历了2015年整个中央空调市场的低谷，多联机又重新恢复生机，根据机电信息杂志的2016年度中国中央空调市场总结报告，2016年多联机不仅占据了中国中央空调市场容量最大的版块，同时还成为了增长最快的最大赢家。
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<img data-ratio="0.4953125" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvZNGTiahaT4mXp53qxRUEXnL1lpWuyibCTYvoMn8PXoDS9ibYcYibVr3BqgCQI09DDPqBic1hic3gwjniaoQ/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./238_files/640" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;"><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;line-height:1.6;"></span>
</p>
</section></section></section><section class="" powered-by="xiumi.us"
                                       style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<img data-ratio="0.73125" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvZNGTiahaT4mXp53qxRUEXnLeakRQa9LjxkYVDo7EViaYD7GPGJm1dWVQYfBE6CXuR0DkfvgmUC8Z4Q/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./238_files/640(1)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;">数据来源：</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;">《机电信息》2016年度中国中央空调市场总结报告</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<br>
</p>
</section></section><section class="" powered-by="xiumi.us"
                             style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:0.5em 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;"><section
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border-top-width:2px;border-top-style:dotted;border-top-color:#5F5E66;width:330px;"></section><section
                            class=""
                            style="margin:4px 0px 0px;padding:0px 5px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#FFFFFF;font-size:19.2px;background-color:#00C1DA;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	大金蝉联中国多联机市场占有率 NO.1<span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;letter-spacing:0px;line-height:1.6;">&nbsp;</span>
</p>
</section></section></section></section><section class="" powered-by="xiumi.us"
                                                 style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	2016年，<a href="" target="_blank"><strong><span style="color:#E53333;">大金中央空调</span></strong></a>又一次勇夺冠军宝座，未来我们也将用稳健的步伐坚守，2016年，大金依旧以近10%的差距高于第二名的对手，成为中国多联机市场当之无愧的冠军！<img
        data-ratio="1.421487603305785" data-s="300,640"
        data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvZNGTiahaT4mXp53qxRUEXnLFP9YNymKcHS9kD2a3clfDCrFLcxMuP5IUh4oj22sqs1AgVYTDZg93g/640?wx_fmt=jpeg"
        data-type="jpeg" data-w="605" width="auto" _width="auto" src="./238_files/640(2)" data-fail="0"
        style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;line-height:25.6px;text-align:center;visibility:visible !important;width:auto !important;">
</p>
</section></section></section><section class="" powered-by="xiumi.us"
                                       style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;">数据来源：</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;">《机电信息》2016年度中国中央空调市场总结报告</span>
</p>
</section></section></section><section class="" powered-by="xiumi.us"
                                       style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;"><br
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;"></span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<img data-ratio="1.2125" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/XVXFPLq3EvZNGTiahaT4mXp53qxRUEXnLQYzp3YqQHDmXjGhSRw1I3ia29UOgyF3TISjIB0EL8Tf5RrM50oXXDfA/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./238_files/640(3)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;">数据来源：</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;"><span
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;line-height:19.2px;">《机电信息》2007-2016年度中国中央空调市场总结报告</span></span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:25.6px;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;line-height:25.6px;text-align:center;font-size:12px;">《暖通空调资讯》2008-2016年度中国中央空调市场发展报告</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;text-align:right;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;"></span><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:12px;line-height:25.6px;">&nbsp;艾肯空调制冷网2006-2016年度中国中央空调市场报告</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	<br>
</p>
</section></section><section class="" powered-by="xiumi.us"
                             style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
                            class=""
                            style="margin:10px 0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;text-align:center;line-height:1;"><section
                            class=""
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;"><span
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;display:inline-block;border-right-width:0.6em;border-right-style:solid;border-right-color:#5F9CEF;border-top-width:0.5em !important;border-top-style:solid !important;border-top-color:transparent !important;border-bottom-width:0.5em !important;border-bottom-style:solid !important;border-bottom-color:transparent !important;"></span><span
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;display:inline-block;opacity:0.6;border-right-width:0.6em;border-right-style:solid;border-right-color:#5F9CEF;border-top-width:0.5em !important;border-top-style:solid !important;border-top-color:transparent !important;border-bottom-width:0.5em !important;border-bottom-style:solid !important;border-bottom-color:transparent !important;"></span></section><section
                            class=""
                            style="margin:0px;padding:0px 3px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;line-height:1.2;color:#5F9CEF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;box-sizing:border-box !important;">
	大金不可撼动
</p>
</section><section class=""
                   style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;"><span
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;display:inline-block;opacity:0.6;border-left-width:0.6em;border-left-style:solid;border-left-color:#5F9CEF;border-top-width:0.5em !important;border-top-style:solid !important;border-top-color:transparent !important;border-bottom-width:0.5em !important;border-bottom-style:solid !important;border-bottom-color:transparent !important;"></span><span
                            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;display:inline-block;border-left-width:0.6em;border-left-style:solid;border-left-color:#5F9CEF;border-top-width:0.5em !important;border-top-style:solid !important;border-top-color:transparent !important;border-bottom-width:0.5em !important;border-bottom-style:solid !important;border-bottom-color:transparent !important;"></span></section></section></section></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="237.html" data-role="button" data-ajax="false" title="2016年，细数那些大金所获得的荣誉">2016年，细数那些大金所获得的荣誉</a></span>
                        <span style="float:right;">下一篇：<a href="243.html" data-role="button" data-ajax="false" title="大金中央空调和日立中央空调哪个好？">大金中央空调和日立中央空调哪个好？</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>