<!DOCTYPE html>
<html>
<head>
    <title>为啥大金中央空调总比别家卖的好？-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="武汉大金空调官网，武汉大金空调专卖店，武汉大金中央空调，武汉大金商用中央空调">
    <meta name="description" content="世上空调万万种，为何大家都独恋大金这一枝花？从大金这些年带给我们祖孙三代人的舒适中我们或许可以瞧见点苗头">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>为啥大金中央空调总比别家卖的好？</h1>
                        <span>查看: 57 </span> <span> 日期:2017-02-24</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><p
                            style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.6321243523316062" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNtN3Kp2iay3uWf5WfX0AkUPffaMrUJ99xzhZaAr7NT5uIRKHkeUnOcjRg/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="579" width="auto" _width="auto" src="./239_files/640" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:18px;color:#00FCFF;"></span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:18px;color:#00FCFF;">世上空调万万种，为何大家都独恋大金这一枝花？从大金这些年带给我们祖孙三代人的舒适中我们或许可以瞧见点苗头</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:18px;color:#00FCFF;"><br
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
</span>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:18px;color:#00FCFF;"></span>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNticVgzWZS4TndMlagoN6hPicBLb5uSJrgyj7tM7ApW2sZWn7fRiamwd9Gw/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(1)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.8em 1em;padding:0px;max-width:100%;font-size:1em;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;color:white;line-height:1.4;text-align:justify;border:0px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border:2px dotted white;box-shadow:#E1E1E1 8px 8px 3px;font-size:1em;font-family:inherit;text-decoration:inherit;color:#333333;background-color:#8EC965;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:1.75em;box-sizing:border-box !important;">
	当时间的车轮倒退到1951年，日本第一台柜式空调在大金诞生，该形式的柜式空调不仅让我们从此认知到空调的存在，还可以让我们看到，当今的柜式空调飞速发展但是都没有离开该形式柜式空调的影子。大家可以看看当今柜式空调，是不是都觉得和日本第一台柜式空调似曾相识。
</p>
</section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:1.75em;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:1.5em;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNtuFMkicx3XqgaiaUMicKvTMwheKykm7pKktTeMDVYOA9t5LRM89WUYZlzQ/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(2)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.5em 0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;border:none;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:0.5em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border-left-width:10px;border-left-style:solid;border-color:#8EC965;line-height:2em;border-radius:5px 0px 0px 5px;box-shadow:#999999 0em 0.2em 0.2em;font-size:1em;font-family:inherit;text-decoration:inherit;background-color:#EFEFEF;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#00D100;">当历史的车轮走到1972年，全球第一台下出风壁挂式空调在大金诞生，改壁挂式空调还获得当年的GOODdesign奖项。该形式的壁挂机一直被沿用至今。</span></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;line-height:1.5em;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNtQWOibFtnmWPdSFtWe8cIVDQ5aetvHnMGhS42ZJ2Qgk9VjT8JJNyibo5w/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(3)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.5em 0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;border:0px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:1em;font-family:inherit;text-decoration:inherit;color:#333333;border-color:#FF8124;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;width:24px;float:left;border-top-width:6px;border-top-style:solid;border-color:#FF8124;border-left-width:6px;border-left-style:solid;"></section><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;width:24px;float:right;border-top-width:6px;border-top-style:solid;border-color:#FF8124;border-right-width:6px;border-right-style:solid;"></section><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;color:transparent;clear:both;"></section></section><section
        class=""
        style="margin:-13px 3px;padding:12px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border:1px solid #FF8124;border-radius:6px;line-height:1.4;font-family:inherit;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:1.75em;box-sizing:border-box !important;">
	<span style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#FF6827;">历史的车轮继续行走，当到1978年的时候，世界第一台嵌入式空调在大金诞生，该款嵌入式空调被全球普及并成为大金空调的象征，以藏为美的空调理念一直被沿用至今，大家可以看看我们今天销售的各种嵌入式空调，一样都没有离开第一款嵌入式空调的影子</span>。
</p>
</section><section class=""
                   style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;width:24px;float:left;border-bottom-width:6px;border-bottom-style:solid;border-color:#FF8124;border-left-width:6px;border-left-style:solid;"></section><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;height:16px;width:24px;float:right;border-bottom-width:6px;border-bottom-style:solid;border-color:#FF8124;border-right-width:6px;border-right-style:solid;"></section></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNtPRKvnG9eXjSaL0mXIH8UVBVxFEV2KibpoeloeIfjHhOoWhtlvQNVXlA/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(4)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.8em 1em;padding:0px;max-width:100%;font-size:1em;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;color:white;line-height:1.4;text-align:justify;border:0px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border:2px dotted white;box-shadow:#E1E1E1 8px 8px 3px;font-size:1em;font-family:inherit;text-decoration:inherit;color:#333333;background-color:#5F9CEF;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#FFFB00;">时间来到1982年，世界第一台VRV在大金诞生。2000年，<a
        href="http://www.fa-dajin.cn/" target="_blank"><span style="color:#E53333;"><strong>大金中央空调</strong></span></a>在中国首推多联产品VRV系列。多联产品比以前的传统空调可以节能40%以上，2013年，我们的多联系统已经占领整个商用空调市场1/3的市场份额。</span></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNtibupxUM92PMR2438jOXCia9WalibKmUSdGXFW2uRQywalewSONPYic1wKw/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(5)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.8em 1em;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;border:0px;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:0.5em;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border:0.1em solid #000000;border-radius:15px;"><section
        class=""
        style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;border:3px solid black;font-size:1.2em;line-height:1.4;border-radius:15px;font-family:inherit;text-decoration:inherit;color:#333333;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">壁挂机曾经是家庭空调的必选产品，但是在<a
        href="" target="_blank"><strong><span style="color:#E53333;"></span></strong></a><strong><a
        href="" title="" target="_blank">大金家用中央空调</a></strong>普及化的影响下，现在中国高中档消费家庭已经首选家用中央空调，大金经过一直以来不懈的努力，截止到2013年底，大金供给住宅类客户的家用中央空调累计达到70万套。</section></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNt0RsWF5TVof9zjJziaY69pf0fU7vHhGdCedvnnTpxaLdicuSWqb93eibCw/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(6)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0.5em 0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;border:none;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;display:inline-block;vertical-align:top;overflow:hidden;width:668px;font-size:1em;font-family:inherit;text-decoration:inherit;border-color:#FF8124;background-color:#EFEFEF;"><section
        class=""
        style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:668px;line-height:1.5em;background:-webkit-linear-gradient(bottom, #F96E57, rgba(255, 247, 234, 0)) rgba(174, 81, 81, 0);"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#007AAA;">大金持续推动环保冷媒R140A在中国普及。2004年，当中国空调厂家还在大量使用R22冷媒的时候，大金在最新款VRV MA系列，就已经注入全新的环保R140A冷媒，引领大家进入环保新冷媒领域。环保R140A冷媒不仅可以保护臭氧层，还可以防止地球变暖。</span></section></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-family:inherit;font-size:1em;line-height:25.6px;white-space:normal;widows:auto;display:inline-block;vertical-align:top;overflow:hidden;width:668px;text-decoration:inherit;border-color:#C95E57;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:10px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:668px;display:inline-block;line-height:1.5em;background-image:-webkit-linear-gradient(left, rgba(255, 247, 234, 0), #C95E57 50%, white);background-attachment:initial;background-size:initial;background-origin:initial;background-clip:initial;background-position:initial;background-repeat:initial;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#0052FF;">这幅画面非常漂亮，漂亮的画面下，隐藏的是大金对客户最新需求的动向把握，今天，大金将带给这个市场一场新的革命：中央空调，从心定义，大金隆重推出全心四季，全效空调，带来NEW life style。这就是我们想呈现给客户的大金全心全效空调的家庭空调体验</span><span
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#3DAAD6;">。</span></section></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<hr style="margin:0px;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<img data-ratio="0.55625" data-s="300,640"
         data-src="http://mmbiz.qpic.cn/mmbiz_jpg/tpKIjLftNtePw84JMDFQQurjTvcYySNt6HhJtVdqg7FkV67ia9PcloDPMxVicPfMrgOKDX2L2vRibW530kj4Qm9wg/640?wx_fmt=jpeg"
         data-type="jpeg" data-w="640" width="auto" _width="auto" src="./239_files/640(7)" data-fail="0"
         style="margin:0px;padding:0px;height:auto !important;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;visibility:visible !important;width:auto !important;">
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<section class=""
         style="margin:1em 0px 0.5em;padding:0px;max-width:100%;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;border:0px;text-align:center;box-sizing:border-box !important;word-wrap:break-word !important;background-color:#FFFFFF;"><section
        class=""
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-size:1em;font-family:inherit;text-decoration:inherit;color:#FF8124;border-color:#FF8124;background-color:#FF8124;"><section
        class=""
        style="margin:0px;padding:32px 16px 16px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;background-image:repeating-linear-gradient(135deg, transparent, transparent 4px, white 4px, white 12px);"><section
        class=""
        style="margin:-40px auto;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:32px;font-size:64px;line-height:1;background:white;">“</section><section
        class=""
        style="margin:0px;padding:8px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;font-family:inherit;background:white;">
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;line-height:1.75em;box-sizing:border-box !important;">
	家用中央空调到底在解决什么问题呢？以前，我们家用中央空调主要关注温度调节和以藏为美，现在，我们的家中空调主要在关注气流均匀、洁净度和智能控制，我们全心全效家中空调主要关注的是温湿平衡，全空间包括厨房专用空调和浴室专用空调，还有纯效PM2.5净化空调。
</p>
</section></section></section><section
        style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;width:0px;height:0px;clear:both;"></section></section>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<br>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-size:16px;line-height:25.6px;white-space:normal;widows:auto;font-family:&#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif;box-sizing:border-box !important;background-color:#FFFFFF;">
	<strong style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#0052FF;">可以预见到，第五代中央空调革命，已经由大金发起，率领我们的客户们，进入新的舒适天地。</span></strong>
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:#3E3E3E;font-family:微软雅黑;font-size:16px;line-height:25.6px;white-space:normal;box-sizing:border-box !important;background-color:#FFFFFF;">
	<strong style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;"><span
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;color:#0052FF;"><br
            style="margin:0px;padding:0px;max-width:100%;box-sizing:border-box !important;word-wrap:break-word !important;">
</span></strong>
</p></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="236.html" data-role="button" data-ajax="false" title="大金家用中央空调省电小窍门">大金家用中央空调省电小窍门</a></span>
                        <span style="float:right;">下一篇：<a href="241.html" data-role="button" data-ajax="false" title="大金中央空调怎么使用更节能环保？">大金中央空调怎么使用更节能环保？</a></span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>

<%- include ../component/articleBottom.ejs%>
</body>
</html>