<!DOCTYPE html>
<html>
<head>
    <title>大金中央空调怎么使用更节能环保？-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="大金空调,大金家用空调,大金空调价格,大金空调报价">
    <meta name="description" content="随着住房条件的改善，如何配置空调成为许多家庭头疼的问题。如果每个房间装一个空调，不仅影响房屋美观，而且几个空调一起使用，耗电量也大。与普通分体式空调相比较，大金中央空调很好的解决了上述问题，拥有多项普通分体式空调无法实现优点。作为大金空调的核心经销商有责任和义务跟已经是大金用户或即将成为大金用户的盆友们分享大金中央空调节能高招！">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class="current"><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">空调杂谈知识</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金中央空调怎么使用更节能环保？</h1>
                        <span>查看: 20 </span> <span> 日期:2017-04-14</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　随着住房条件的改善，如何配置空调成为许多家庭头疼的问题。如果每个房间装一个空调，不仅影响房屋美观，而且几个空调一起使用，耗电量也大。与普通分体式空调相比较，大金中央空调很好的解决了上述问题，拥有多项普通分体式空调无法实现优点。作为大金空调的核心经销商有责任和义务跟已经是大金用户或即将成为大金用户的盆友们分享大金中央空调节能高招！</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　<a href="" target="_blank"><strong><span
        style="color:#E53333;">大金中央空调</span></strong></a>节能第一招：设定适当的温度。制冷时，不要设置过低温度，若把室温调到26-27℃，其冷负荷可以减少8%以上。实践证明，对静坐或轻度劳动的人来说，室温保持在28-29℃，相对湿度保持在50-60％，人并不感到闷热，也不会出汗，它应属于舒适性范围。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　大金中央空调节能第二招：在选购的时候，应该根据房间体积大小选择空调，使空调的功率应适合房间。每个房间都不是完全密封，同时房屋还要吸收外面的热，当空调完全能够满足房间的制冷时，才不会给空调造成太大的负荷。如果您的房间有向阳的窗户，同时窗户没有窗帘或遮阳棚的话，那么您选购的时候可以略微提升一个档位，空调完全满足房间制冷时，才能提高空调效率。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　大金中央空调节能第三招：避免阳光直射。在夏季，采用窗帘遮住日光的直射，减少阳光辐射带来的室温影响，可节电约5％。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　大金中央空调节能第四招：使用空调选择合适的出风角度会使空气的温度降得更快。空气温度变低后，冷气流容易往下走，制冷时出风口向上，这样的制冷效果好。而在冬天时，热气都是往上走，制热时出风口应该向下，这样也能达到节能的效果。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　大金中央空调节能第五招：在睡眠时，人们应该使用空调的睡眠功能。有的空调定义为经济功能，睡眠时，人体散发的热量减少，对温度变化不敏感。睡眠功能就是设定在人们入睡的一定时间后，空调器会自动调高室内温度，因此使用这个功能可以起到20%的节电效果。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　<a href="" target="_blank"><strong><span
        style="color:#E53333;">大金中央空调</span></strong></a>节能第六招：空调的配管短且不弯曲，制冷效果好且不费电。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　大金中央空调节能第七招：在出门前应该提前关空调，最好是离家前十分钟即关冷气，在这十分钟之内室温还足以使人感觉到凉爽，养成出门提前关空调的习惯，可以节省电能。<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp;湖北大金空调专业PORSHOP店设于徐东欧亚达一楼，内有豪华展厅。欢迎大家前来感受咨询。</span><br>
<br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;">　　</span><br>
<span style="font-family:&#39;Microsoft YaHei&#39;;font-size:16px;"></span></span>
                    <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="239.html" data-role="button" data-ajax="false" title="为啥大金中央空调总比别家卖的好？">为啥大金中央空调总比别家卖的好？</a></span>
                        <span style="float:right;">下一篇：<a href="242.html" data-role="button" data-ajax="false" title="装修季迫近大预告！大金带你了解家用中央空调小奥秘！">装修季迫近大预告！大金带你了解家用中央空调小奥秘！</a></span>
                    </div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
                                                                        class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台"
                                                                            class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script src="./comm/buttonLite.js"></script>
                <script src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>