<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Life Style大金第11届内装设计大赛（北京站）启动仪式隆重开幕-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="大金空调,大金家用空调,大金空调价格,大金空调报价">
    <meta name="description" content="家用中央空调目前已经是家装行业的趋势，越来越多的人选择装家用中央空调，使用寿命长，五大纬度告诉你家庭装修中央空调和普通空调到底哪个好">
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class="current"><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class=""><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="hangyezixun.html">大金空调资讯</a></span>-->
                    大金空调资讯 <i>News</i></div>
                <div class="box">
                    


<div class="mccontinfo">
                        <h1>New Life Style大金第11届内装设计大赛（北京站）启动仪式隆重开幕</h1>
                        <span>查看: 719 </span> <span> 日期:2017-08-10</span>
                        <span> 文字:<script language="Javascript">function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <span id="ContentArea"><div class="meib">

<P>2017年8月9日，“New Life Style大金内装设计大赛启动仪式”在北京悉苑会所隆重召开。本届大赛由大金空调主办 ，主题围绕着“生活艺术，匠心呈现”向到场嘉宾诠释“设计是美的艺术，更是生活的艺术”这一服务宗旨。
</p>
<br />
	<p>

此次活动吸引了来自于设计界、建筑界、学术界的逾百位人士到场，还特别邀请到澳门著名建筑师、室内设计师覃思先生出席作为演讲嘉宾，就如何将“New Life Style”理念融入家装设计中进行了深入的交流，为设计师们提供了一次学习及互相交流的机会。

</p>
<br />

	<p>大金坚信，只有精益求精的匠人，对家有独到的见解、对选材有再三地考量、对方案有反复地推敲，对施工有精益求精的执着，才会让生活着的家拥有一种魔力，让人享受、放松舒适、愉悦、安心。同时依托大金作为高品质空调厂家的实力，帮助设计师打造更为个性化、生活化的作品，这就是我们共同倡导的New Life Style。

</p>

<br />
	
</div>

<p>
北京站启动仪式上,大金华北统括部工藤总经理上台进行发言.他表示“大金作为创造家用中央空调文化的推动者，我们多年来不仅在产品方面不断地革新进化，同时在给用户提供服务的方面也在不断地改进。也真是我们这样持之以恒的努力，市场、用户越来越多认可大金的家用中央空调。我们的宗旨也是给消费者带来更舒适与人性化的体验。”
</p>
<p>
    <br/>
</p>
<p>
   当天的活动现场，TCDI创思国际建筑师事务所创始人覃思为大家带来一场关于立体设计力量的主题分享.在他看立体设计力量要从new life style中探求．一个合格的设计师不仅要考虑功能性与舒适性，更要考虑到设计的本质并结合文化以及对生活的理解。能真正为业主解决痛点的设计师才是成功的设计师。此外，覃思老师也寄语各位参赛的设计师，科学的技巧、美学的手法、对生活的理解，才是设计的本源。
</p>
<p>
    <br/>
</p>
<p>
活动背景介绍：
</p>
<p>
    <br/>
</p>
<p>
“New Life Style大金内装设计大赛”，即大金内装设计大赛自2006年创办至今，已走过了十一年。回首过往，大赛一步一步踏踏实实走出了一条辉煌之路，无论从规模、权威性和影响力上，都一届比一届出色。十一年来，无数设计师通过大赛的舞台展露才华；十一年来，我们与设计师共同成长，共同引领了“以藏为美”的艺术生活；未来，大金希望与设计师们携手同行，共筑“New Life Style”全新生活理念。
</p>


                 <div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="245.html" data-role="button" data-ajax="false" title="五大纬度告诉你家庭装修中央空调和普通空调到底哪个好">五大纬度告诉你家庭装修中央空调和普通空调到底哪个好</a></span>
                        <span style="float:right;">下一篇：没有了</span></div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>

<%- include ../component/articleBottom.ejs%>
</body>
</html>