<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大金家用中央空调选购注意事项（如何选购大金家用中央空调）？-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="大金空调怎么样,武汉大金空调价格,武汉大金空调专卖店经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四价格,大金空调安装注意事项,武汉大金空调售后维修电话,大金空调故障代码，家用中央空调,中央空调什么牌子好">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <style>
        .textcenter{text-align:center;}
        .textcenter img{max-width:80%;}
    </style>
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>
    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class="current"><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">最新活动</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>大金家用中央空调选购注意事项（如何选购大金家用中央空调）</h1>
                        <span>查看: 562 </span> <span> 日期:2017-08-29</span>
                        <span> 文字:<script language="Javascript">
                            function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>
                            【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <div id="ContentArea">
                        <p>众所周知，大金家用中央空调的安装和维修都是一个系统工程，所以就需要慎重考虑和选择，综合舒适、美观、健康、节能等各种因素，争取做到一次选择，终身受益。
</p>
 <br>

<p>那么，如何选购大金家用中央空调也成为大家比较关心的问题，大金空调武汉汉阳绿地广场专卖店就此告诉大家如何选择大金家用中央空调。</p>
 <br>
                                              
 <p><strong>确定空调主机型号</strong></p>
<br> 
<p>首先要考虑房屋的面积和朝向，看是否有大面积的玻璃窗，以此来计算空调的同时使用系数。一般而言，在普通家居环境中，实际使用时所需要的冷量往往不是全部房间冷量的综合，而是低于后者，前者大约只需要达到后者的60% 70%即可。这样可节省投资，避免不必要的浪费。房间实际所需冷量可通过以下公式计算:</p>
 <br>
 


<p>
实际受冷面积=房屋建筑面积×房屋实用率×65%(除去厨房、洗手间等非制冷面积)</p>
 <br>

<p>实际所需冷量=实际受冷面积×单位面积制冷量注意单位面积制冷量根据具体情况有所变化，家用通常为150瓦/平方米。如果房间朝南、楼层较高，或者有大面积玻璃墙，可适当提高到200瓦/平方米左右。
</p>
 <br>

<p><strong>确定室内机与风口</strong></p>
<br>
 

<p>根据实际所需冷量大小决定型号，每个房间或厅只需要一台室内机或者风口，如果客厅的面积较大，或者呈长方形，可以多加一台室内机或风口。以每12平方米需要一匹左右为准。
</p>
<br>
 


<p><strong>确定空调布局</strong></p>
<br>
 

<p>主机的位置要讲究通风散热良好，便于检修维护，同时位置要尽量隐蔽，避免影响房子外观和噪音影响室内；</p>
<br>
　
<p>室内机的位置要和室内装修布局配合，一般是暗藏在吊顶内，也可以隐藏在高柜的顶部。一般室内机都是超薄型的，只需要大约25cm的高度就可以放置。安装时要注意回风良好，使室内空气形成循环，以保证空调效果和空气质量；</p>
<br>


<p>管路的布置冷水机组的冷媒管路都比较细，即使外面包上保温层，也可以方便地暗藏起来;管路需要全程保温，管件、阀件以及与管路接触的金属配件都要保温包裹起来，以防冷凝水滴漏;管路材料一般选用PP R管、PVC U管或铝塑复合管，可以保证50年不损坏;全部的冷凝水集中或就近隐蔽排放；</p>
<br>　


<p>室内机可根据用户要求增加负离子发生器、净化除尘装置，以进一步提高室内空气质量。</p>
<br>

<p><strong>选择适合价格的产品和服务</strong></p>
<br>
 

<p>同普通分体空调相比，大金家用中央空调实际上是一个“半成品”，因为它要同室内装修相配合。大金家用中央空调的服务，不仅包括售后服务，还包括销售前的咨询、方案设计、安装施工。所以用户在购买大金家用中央空调的时候，一定要选择服务佳、信誉好的企业，以保障自己的利益。</p>
<br>

<div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="javascript:void(0);" data-role="button" data-ajax="false" title="没有了">没有了</a></span>
                        <span style="float:right;">下一篇：<a href="219.html" data-role="button" data-ajax="false" title="">大金空调展现科技自然和谐之美</a></span>
                    </div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
</div>
<%- include ../component/articleBottom.ejs%>


</body>
</html>