<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>家用中央空调清洗保养需要遵循的四大步骤-武汉问鼎机电工程有限公司</title>
    <meta name="keywords" content="大金空调怎么样,武汉大金空调价格,武汉大金空调专卖店经销商,武汉大金空调VRV-N价格,武汉大金空调一拖四价格,大金空调安装注意事项,武汉大金空调售后维修电话,大金空调故障代码，家用中央空调,中央空调什么牌子好">
    <meta name="description" content="武汉问鼎机电工程有限公司创立于2007年，是湖北武汉一家专业从事提供暖通设计与安装的工程型公司，设有武汉大金空调专卖店，专业为湖北武汉客户提供大金空调免费设计报价，武汉大金空调系统、新风系统及采暖系统的安装等服务。武汉大金空调设计安装，就找问鼎机电。服务热线027-84669689">
    <style>
        .textcenter{text-align:center;}
        .textcenter img{max-width:80%;}
    </style>
    <%- include ../component/articleMeta.ejs %>
</head>

<body>
<div class="container">
    <%- include ../component/headerDiv.ejs%>

    <div class="banner">
        <div class="images">
            <div style="background:url(../UpFiles/include/image/20160512/20160512105075297529.jpg) center center no-repeat; height:220px;"></div>
        </div>
    </div>
    <div class="index-content">
        <div class="left">
            <div class="dh">
                <ul>
                    <li class=""><a href="../hangyezixun.html">大金空调资讯</a></li>
                    <li class=""><a href="../kongtiaozhishi.html">空调杂谈知识</a></li>
                    <li class="current"><a href="../zuixinhuodong.html">最新活动</a></li>
                </ul>
            </div>
            <div class="img"><a href="../freeoffer.html"><img src="../style/images/20150618114554555455.jpg"></a></div>
            <div class="img"><a href="../contactus.html"><img src="../style/images/20150618114595029502.jpg"></a></div>
        </div>

        <div class="right">
            <div class="mian">
                <div class="title">
                    <!--<span>您当前位置：<a href="">首页</a> &gt;&gt; <a href="../hangyezixun.html">新闻资讯</a> &gt;&gt;<a
                        href="kongtiaozhishi.html">最新活动</a></span>-->
                    空调杂谈知识 <i>News</i></div>
                <div class="box">
                    <div class="mccontinfo">
                        <h1>家用中央空调清洗保养需要遵循的四大步骤</h1>
                        <span>查看: 56</span> <span> 日期:2017-09-04</span>
                        <span> 文字:<script language="Javascript">
                            function ContentSize(size) {
                            document.all.ContentArea.style.fontSize = size + "px";
                        }</script>
                            【字体：<a href="javascript:ContentSize(16)">大</a> <a
                                href="javascript:ContentSize(14)">中</a> <a
                                href="javascript:ContentSize(12)">小</a>】</span>
                    </div>

                    <div id="ContentArea">
                        <p>中央空调制冷效果好，而且安装起来时尚大气，能够很好地与室内装修相搭配，呈现出舒适性与时尚性兼备的效果。不过，如果使用久了的话，就需要进行大金空调维修保养，以免对人的健康造成影响，对空调本身的使用效果和使用寿命也会造成影响。</p>
 <br>



<p>对于家用中央空调来说，在长期使用之后，其过滤网、蒸发器和送风系统都会有大量的灰尘、污垢积聚，时间长了之后，就会产生细菌、病毒等物质，从而会存在健康隐患。另外，冷凝水充斥在过滤网散片等地方，而且在使用空调时室内很少会开窗换气，这样就会加剧中央空调的老化，使系统运作的效率越来越低。所以，对中央空调进行清洗维护保养是非常重要的环节。</p>
 <br>
                                              
 <p>家用中央空调的清洗过程：</p>
 <br>
 


<ul><li>对室内、室外换热器的表面进行清洗，除去灰尘和可繁殖的细菌等，这样可以提高换热器的效率，防止有害物质的积累。</li>
<li>对空气过滤网进行清扫和更换，空气过滤网是一种长效除臭空气滤清过滤网，它可以大大的提高空调的清新空气质素，在清扫时，注意拆卸过程中不要碰到室内机组的金属部分，因为很容易对其造成损伤。</li>
<li>对排水部分的清洁，因为排水部分累积的污垢比较多，需要对其进行彻底的清扫和消毒，确保排水的畅通。</li>
<li>进行深度清洁，对中央空调的电路控制部分进行灰尘的清除，检查各接触件，确保电路控制部分的安全稳定运行；然后对主机的工作指标进行检查，对主机运转存在的隐患进行排除，对一些松动的部件进行及时的处理；最后对外壳进行清洗上蜡，使外壳保持清洁和美观。</li></ul>

<div class="mcnext white_bj">
                        <span style="float:left;">上一篇：<a href="javascript:void(0);" data-role="button" data-ajax="false" title="没有了">没有了</a></span>
                        <span style="float:right;">下一篇：<a href="219.html" data-role="button" data-ajax="false" title="">大金空调展现科技自然和谐之美</a></span>
                    </div>
                </div>
                <div class="bshare-custom" style="float:right; margin-bottom:15px;">
                    <div class="bsPromo bsPromo2"></div>
                    <a title="分享到" href="http://www.bshare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a
                        title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a
                        title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a><a
                        title="分享到网易微博" class="bshare-neteasemb">网易微博</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script  src="./comm/buttonLite.js"></script>
                <script  src="./comm/bshareC0.js"></script>
            </div>
        </div>
    </div>
</div>
</div>
<%- include ../component/articleBottom.ejs%>

</body>
</html>