<div class="clear"></div>
<div class="footer">
    <div id="homedlqun">
        <div class="footdl">
            <dl>
                <dt><a href="javascript:void(0);">产品中心</a></dt>
                <dd><a href="product_jiayongzhongyangkongtiao.html">家用中央空调</a></dd>
                <dd><a href="product_duogongnengVRV.html">家用分体空调</a></dd>
                <dd><a href="product_shangyong.html">商用中央空调</a></dd>
            </dl>
            <dl>
                <dt><a href="javascript:void(0);">工程案例</a></dt>
                <dd><a href="project_gongyu.html">公寓</a></dd>
                <dd><a href="project_bieshu.html">别墅及小户型</a></dd>
                <dd><a href="project_shangye.html">商业空间</a></dd>
            </dl>
            <dl>
                <dt><a href="javascript:void(0);">新闻中心</a></dt>
                <dd><a href="hangyezixun.html">大金空调资讯</a></dd>
                <dd><a href="kongtiaozhishi.html">空调杂谈知识</a></dd>
                <dd><a href="zuixinhuodong.html">最新活动</a></dd>
            </dl>
            <dl>
                <dt><a href="javascript:void(0);">关于我们</a></dt>
                <dd><a href="aboutus.html">公司简介</a></dd>
                <dd><a href="zizhizhengshu.html">资质证书</a></dd>
                <dd><a href="offline.html">线下展厅</a></dd>
            </dl>
            <dl>
                <dt><a href="javascript:void(0);">关于大金</a></dt>
                <dd><a href="http://www.daikin-china.com.cn/aboutus/worlddaikin/">世界的大金</a></dd>
                <dd><a href="http://www.daikin-china.com.cn/aboutus/worksintroduction/">事业介绍</a></dd>
            </dl>
        </div>
    </div>

    <footer id="colophon" role="contentinfo">
        <div id="site-generator">
            <p>版权所有Copyright(C)2015 武汉问鼎机电工程有限公司 网站备案号：鄂ICP备09017497号-2</p>
        </div>
    </footer>

    <div class="xunfu">
        <div class="footQQ">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2981953977&amp;site=qq&amp;menu=yes" target="_blank">
                <div></div>
            </a>
            <p><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2981953977&amp;site=qq&amp;menu=yes" target="_blank">在线QQ</a>
            </p>
        </div>
        <div class="footrwm">
            <img src="./images/rwm1.jpg" width="104" height="105">
            <p><a>微信扫一扫</a></p>
        </div>
    </div>
</div>