<div class="nav">
    <div class="nav-bg">
        <div class="nav-logo"><img src="./style/images/20150618101418511851.png"></div>
        <div class="nav-bg3">
            <ul>
                <li class="li"><a href="index.html">武汉大金首页</a></li>
                <li class="li"><a href="javascript:void(0);">产品中心</a>
                    <ul class="navul">
                        <li class="navli"><a href="product_jiayongzhongyangkongtiao.html">家用中央空调</a></li>
                        <li class="navli"><a href="product_duogongnengVRV.html">家用分体空调</a></li>
                        <li class="navli"><a href="product_shangyong.html">商用中央空调</a></li>
                    </ul>
                </li>
                <li class="li"><a href="javascript:void(0);">工程案例</a>
                    <ul class="navul">
                        <li class="navli"><a href="project_gongyu.html">公寓</a></li>
                        <li class="navli"><a href="project_bieshu.html">别墅及大户型</a></li>
                        <li class="navli"><a href="project_shangye.html">商业空间</a></li>
                    </ul>
                </li>
                <li class="li"><a href="freeoffer.html">免费设计与报价</a></li>
                <li class="li"><a href="javascript:void(0);">新闻资讯</a>
                    <ul class="navul">
                        <li class="navli"><a href="hangyezixun.html">大金空调资讯</a></li>
                        <li class="navli"><a href="kongtiaozhishi.html">空调杂谈知识</a></li>
                        <li class="navli"><a href="zuixinhuodong.html">最新活动</a></li>
                    </ul>
                </li>
                <li class="li"><a href="article/244.html">大金故障代码</a></li>
                <li class="li"><a href="javascript:void(0);">关于我们</a>
                    <ul class="navul">
                        <li class="navli"><a href="aboutus.html">公司简介</a></li>
                        <li class="navli"><a href="contactus.html">联系我们</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bg-1"></div>
    <div class="nav-bg-2"></div>
</div>