<div class="header">
    <div class="top">
        <div class="top-tel">&nbsp;&nbsp;<span>销前咨询电话</span>&nbsp;&nbsp;<img src="/style/images/dianhua.png" width="17" height="17">&nbsp;&nbsp;027-84669689&nbsp;&nbsp;/&nbsp;&nbsp;15972077912&nbsp;&nbsp;/&nbsp;&nbsp;13659828057&nbsp;&nbsp;<span>售后电话</span>&nbsp;&nbsp;<img src="/style/images/dianhua.png" width="17" height="17">&nbsp;&nbsp;400-820-1081&nbsp;&nbsp;
        </div>
    </div>
    <%- include headerNav.ejs %>
</div>